<section>
    <div class="start-animation d-none">
        <img src="assets/img/Logo.svg" alt="">
        <p>DABubble</p>
    </div>
    <header class="header">
        <div>
            <img src="assets/img/logo-header.svg" alt="">
        </div>
    </header>
    <div class="login">
        <div class="container bg-white">
          <div id="reset-pw-bg" class="overlay d-none"></div>
          <div id="reset-pw" class="popup d-none">
            <p>Passwort zurückgesetzt!</p>
          </div>
          <h1>Passwort zurücksetzen</h1> 
          <form (ngSubmit)="changePassword()">            
            <div>              
              <div class="input-container d-flex-standard cursor-pointer">
                <img src="assets/icons/password.svg" alt="lock">
                <input #passwordInput="ngModel" type="password" matInput [(ngModel)]="user.password" name="password" placeholder="Neues Passwort" required minlength="8">
                <img (click)="changeInputPasswordToTxt($event)" src="assets/icons/visibility_off.svg" alt="Toggle Password Visibility">
              </div>
              <span [class.show]="passwordInput.invalid && passwordInput.dirty" class="error-txt">Bitte geben Sie ein Passwort ein mit mindestens 8 Zeichen.</span> 
                
              <div class="input-container d-flex-standard cursor-pointer">
                <img src="assets/icons/password.svg" alt="lock">
                <input #confirmPasswordInput="ngModel" type="password" matInput [(ngModel)]="user.confirmPassword" name="confirmPassword" placeholder="Neues Passwort bestätigen" required>
                <img (click)="changeInputPasswordToTxt($event)" src="assets/icons/visibility_off.svg" alt="Toggle Password Visibility">
                </div>  
              <span [class.show]="!isPasswordMatching() && confirmPasswordInput.dirty" class="error-txt">Die Passwörter stimmen nicht überein.</span>    
            </div>    
            <div class="submit-buttons d-flex-standard">
              <button [disabled]="!isFormValid()" class="btn-submit" mat-button type="submit">Passwort ändern</button>
            </div>
          </form>
        </div>
        <span [class.show]="loginErrorPassword" class="error-txt tokenErr">Dieser Passwort-Reset-Link ist abgelaufen.</span>
    </div>
    <footer>
      <a class="link cursor-pointer">Impressum</a>
      <a class="link cursor-pointer">Datenschutz</a>
  </footer>
</section>