@import '../../main-content-main-chat/main-content-main-chat-lower-part/main-content-main-chat-lower-part.component.scss';

.reactioninfo {
    @include dFlex($fd: column, $g: 5px);
    height: 110px;
    width: 160px;
    border-radius: 30px 30px 30px 0px;
    background-color: $Purple-1;
    color: white;
    padding: 15px 10px;
    position: absolute;
    margin-top: -170px;
    margin-left: 30px;
    z-index: 4;

    div {
        height: 24px;
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
    }

    span {
        font-size: 16px;
        font-weight: 400;
    }
}

.short-reactioninfo {
    @include dFlex($fd: column, $g: 5px);
    height: 110px;
    width: 140px;
    border-radius: 30px 30px 30px 0px;
    background-color: #444DF2;
    color: white;
    padding: 15px 10px;
    position: absolute;
    margin-top: -170px;
    margin-left: 20px;
    z-index: 4;

    div {
        height: 24px;
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
    }

    span {
        font-size: 16px;
        font-weight: 400;
    }
}

.speech-bubble-user-edit {
    border: solid 1px $Light-purple;
    background-color: white;
    color: $Text-gray;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400 !important;
    line-height: 24.55px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;

    textarea {
        font-size: inherit;
        color: inherit;
        background-color: inherit;
        border: none;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    div {
        display: flex;
        justify-content: flex-end;
        gap: 32px;

        @media (max-width:500px) {
            flex-direction: column-reverse;
            gap: 12px;
        }
    }
}

.btn-cancel {
    cursor: pointer;
    border: solid 1px $Purple-1;
    color: $Purple-1;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 25px;
    border-radius: 50px;

    @media (max-width:500px) {
        font-size: 16px;
        padding: 8px 10px;
        border-radius: 50px;
        width: 100px;
    }
}

.btn-save {
    cursor: pointer;
    border: none;
    color: white;
    background-color: $Purple-1;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 25px;
    border-radius: 50px;
    &:disabled {
        cursor: not-allowed !important;
        background-color: $Purple-2;        
        &:hover {
          background-color: $Purple-2;
          cursor: not-allowed !important;
        }
    }

    @media (max-width:500px) {
        font-size: 16px;
        padding: 8px 10px;
        border-radius: 50px;
        width: 100px;
    }
}


.chat {
    height: 100%;
    width: 100%;
}

.chat-content {
    height: calc(100% - 210px);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: absolute;

    &::-webkit-scrollbar {
        display: none
    }
}


.user-message-hover-options {
    opacity: 0;
    display: none;
    z-index: 3;
    position: absolute;
    margin-top: -26px;
    margin-left: -60px;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 46px;
    background-color: white;
    border: 1px solid $Light-purple;
    border-radius: 25px 25px 0px 25px;
    padding: 0px 10px;
    cursor: pointer;
    left: 0;
    margin-left: 30px;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 370px;
        margin-top: 60px;
        background-color: white;
        position: absolute;
        box-shadow: 0px 6px 14px 0px #00000033;
        width: 270px;
        height: 60px;
        border-radius: 0px 30px 30px 30px;
        @media (max-width: 430px) {
            border-radius: 30px;
            margin-left: 150px;
            margin-top: 115px;
        }
    }

    div {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: $Bg-color;
        }
    }

    mat-icon {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: $Bg-color;
            color: $Purple-1;
            scale: 1.1;
        }
    }
}

.hover-options-edit-message {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    width: fit-content;
    text-wrap: nowrap;
    margin-block-start: 0;
    margin-block-end: 0;

    &:hover {
        background-color: $Bg-color;
        font-weight: 700;
        color: $Purple-1;
    }
}

.user-message {
    width: -webkit-fill-available;
    padding: 5px 30px 5px 130px;
    gap: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: white;
    transition: 0.1s ease-in;

    @media(max-width:575px) {
        padding: 5px 30px 5px 30px;
    }

    &:hover {
        background-color: $Bg-color;
        position: relative;
    }

    &:hover .user-message-hover-options {
        display: flex;
        opacity: 1;
    }
}

.anon-message-hover-options {
    opacity: 0;
    display: none;
    z-index: 3;
    position: absolute;
    margin-top: -26px;
    margin-left: -60px;
    align-items: center;
    justify-content: space-evenly;
    width: 50px;
    height: 46px;
    background-color: white;
    border: 1px solid $Light-purple;
    border-radius: 25px 25px 0px 25px;
    padding: 0px 10px;
    cursor: pointer;
    right: 0;
    margin-right: 30px;

    div {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: $Bg-color;
        }
    }

    mat-icon {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: $Bg-color;
            color: $Purple-1;
            scale: 1.1;
        }
    }
}


.anon-user-message {
    width: -webkit-fill-available;
    padding: 5px 130px 5px 30px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    transition: 0.1s ease-in;

    @media(max-width:575px) {
        padding: 5px 30px 5px 30px;
    }

    &:hover {
        background-color: $Bg-color;
        cursor: pointer;
        position: relative;
    }

    &:hover .anon-speech-bubble-user {
        background-color: white !important;
    }

    &:hover .anon-message-hover-options {
        display: flex;
        opacity: 1;
    }
}

.flex-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-message-time-name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: fit-content;

    &:hover {
        cursor: pointer;
    }

    h3 {
        color: black;
        font-size: 18px;
        font-weight: 700px !important;
        transition: 0.2ms;
        margin-block-start: 0;
        margin-block-end: 0;

        &:hover {
            color: $Purple-1;
        }
    }

    span {
        color: $Text-gray;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.anon-user-message-time-name {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;

    &:hover {
        cursor: pointer;
    }

    h3 {
        color: black;
        font-size: 18px;
        font-weight: 700px !important;
        transition: 0.2ms;
        margin-block-start: 0;
        margin-block-end: 0;

        &:hover {
            color: $Purple-1;
        }
    }

    span {
        color: $Text-gray;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.speech-bubble-user {
    background-color: $Purple-2;
    color: white;
    padding: 15px;
    border-radius: 30px 0px 30px 30px;
    font-size: 18px;
    font-weight: 400 !important;
    line-height: 24.55px;
    @include dFlex($jc: flex-start);
    flex-wrap: wrap;
}

.anon-speech-bubble-user {
    background-color: $Bg-color;
    color: black;
    padding: 15px;
    border-radius: 0px 30px 30px 30px;
    font-size: 18px;
    font-weight: 400 !important;
    line-height: 24.55px;
    @include dFlex($jc: flex-start);
    flex-wrap: wrap;
}

.user-message-avatar {
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.user-message-emojis {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 0px;
    gap: 10px;

    mat-icon {
        padding: 5px;
        border-radius: 100%;
        background-color: white;
        cursor: pointer;
        transition: 0.2s ease-in;

        &:hover {
            color: $Purple-2;
            background-color: $Bg-color;
            scale: 1.1;
        }
    }
}

.anon-user-message-emojis {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0px;
    gap: 10px;

    mat-icon {
        padding: 5px;
        border-radius: 100%;
        background-color: white;
        cursor: pointer;
        transition: 0.2s ease-in;

        &:hover {
            color: $Purple-2;
            background-color: $Bg-color;
            scale: 1.1;
        }
    }
}

.user-message-emojis-showcase {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    transition: 0.1s ease-in;
    cursor: pointer;

    &:hover {
        border: 1px solid $Purple-2;
    }
}

.anon-user-answer-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
    margin-right: 20px;

    h3 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 18px;
        font-weight: 400;
        color: $Purple-3;

        &:hover {
            font-weight: 500;
            color: $Purple-1;
        }
    }

    span {
        letter-spacing: 0;
    }
}

.chat-timestamp {
    padding: 0px 30px;
    width: -webkit-fill-available;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    cursor: default;

    span {
        position: absolute;
        z-index: 1;
        background-color: white;
        padding: 5px 15px;
        border: solid 1px $Light-purple;
        border-radius: 30px;
    }

    div {
        background-color: $Light-purple;
        height: 1px;
        width: -webkit-fill-available;
    }
}

.emoji-window-messages-overlay {
    position: absolute;
    height: -webkit-fill-available;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji-window-messages {
    position: absolute;
    z-index: 4;
}

.emoji-window {
    position: absolute;
    margin-top: -430px;
    margin-left: 84px;
    z-index: 2;
    @media (max-width: 500px) {
        margin-left: -46px;
    }    
}

// chat input related code below

.chat-input-container {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    min-height: 150px;
    z-index: 1;
}

.chat-input {
    width: -webkit-fill-available;
    min-height: 150px;
    margin: 30px;
    border-radius: 20px;
    border: 1px solid #ADB0D9;
    @media (max-height: 800px) {
        min-height: 130px;
    }
}

.chat-input-lower-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: -webkit-fill-available;
    @media (max-height: 800px) {
        padding: 8px;
    }
}

.chat-input-send {
    font-weight: bolder;
    color: $Purple-1;

    &:hover {
        color: $Purple-2;
        cursor: pointer;
    }
}

.chat-input-options {
    display: flex;
    gap: 4px;

    mat-icon {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.1s ease-in;
        cursor: pointer;

        &:hover {
            background-color: $Bg-color;
            color: $Purple-3;
            scale: 1.1;
        }
    }
}

.chat-input-line {
    height: 40px;
    width: 1px;
    background-color: $Light-purple;
}

.chat-input-design {
    width: -webkit-fill-available;
    margin: 20px;
    min-height: 100%;
    /* min-height: -webkit-fill-available; */
    overflow-y: scroll;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    border: none;

    &:focus {
        outline: none;
    }

    &::-webkit-scrollbar {
        display: none
    }
    @media (max-height: 800px) {
        margin: 8px;
    }
}

.dm-chat-start {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 30px;
}

.dm-chat-start-profile {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    cursor: pointer;

    @media (max-width: 1180px) {
        gap: 10px;
    }

    span {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0;
    }
}

.dm-chat-start-msg {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: default;

    @media (max-width:1000px) {
        display: block;
    }

    span {
        color: $Text-gray;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0;
    }

    h4 {
        cursor: pointer;
        font-size: 20px;
        font-weight: 400;
        color: $Purple-3;
        margin-block-start: 0;
        margin-block-end: 0;
        letter-spacing: 0;

        &:hover {
            font-weight: bolder;
        }
    }
}

.profile-picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }
}

.btn-submit {
    a {
        color: $White;
        text-decoration: none;
    }
}

.submit-buttons {
    @include dFlex($jc: flex-start);
    margin: 20px;
    gap: 30px;
    width: 100%;

    button {
        padding: 25px;
        border-radius: 25px;
        @include fonts($fs: 18px);
        font-family: 'Nunito', sans-serif !important;
    }

    @media (max-width: 470px) {
        gap: 6px;
        button {
            padding: 15px;
            font-size: 12px;
        }
    }

    .btn-submit {
        background-color: $Purple-1;
        cursor: pointer;
        color: $White;

        &:hover {
            background-color: $Purple-2;
        }

        &:disabled {
            cursor: not-allowed !important;
            background-color: $Purple-2;

            &:hover {
                background-color: $Purple-2;
                cursor: not-allowed !important;
            }
        }
    }

    .btn-guest {
        color: $Purple-1;
        border: 1px solid $Purple-1;

        &:hover {
            background-color: $Purple-1;
            color: $White;
        }
    }
}

.error-txt {
    padding: 20px;
}

.tagUser {
    color: #0ff;
    cursor: pointer;
    @include fonts($fw: 400, $fs:18px);
    &:hover {
        text-decoration: underline;
    }
    &.anon {
        color: $Purple-1;
    }
}

.space {
    opacity: 0;
}