<div class="dialog-content">
    <div class="dialog-head">
        <span>Profil</span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button>
    </div>
    <div class="avatar">
        <img src="{{user?.avatar}}">
    </div>
    <div class="username">
        <span>{{user?.name}}</span>
        <div class="status">
            <svg  *ngIf="user?.onlineStatus" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <circle cx="8" cy="8.5" r="8" fill="#92C83E" />
            </svg>
            <svg  *ngIf="!user?.onlineStatus" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <circle cx="8" cy="8.5" r="8" fill="#686868" />
            </svg>
            <span *ngIf="user?.onlineStatus" class="online">Aktiv</span>
            <span *ngIf="!user?.onlineStatus" class="offline">Abwesend</span>
        </div>
    </div>
    <div class="user-email">
        <img src="./assets/icons/mail.svg">
        <!-- <img src="../../../assets/icons/mail.svg"> -->
        <div class="email">
            <span>E-Mail-Adresse</span>
            <p>{{user?.email}}</p>
        </div>
    </div>
    <div class="button">
        <button (click)="openDM()" mat-raised-button color="primary">{{ this.user?.id !== currentUser.id ? 'Nachricht' : 'Nachricht an Dich' }}</button>
    </div>
</div>