.dialog-content {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dialog-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    span {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        border-radius: 100%;
        height: 200px;
        width: 200px;
    }

    p {
        cursor: pointer;
        color: #535AF1;
        margin: 0;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.username {
    display: flex;
    flex-direction: column;
    gap: 15px;
    span {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.status {
    display: flex;
    align-items: center;
    
    span {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 15px;
    }

    .online {
        color: #92C83E;
    }

    .offline {
        color: #686868;
    }
}

.user-email {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
    
    span {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 3px;
    }

    p {
        color: #1381FF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.email {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.button {
    display: flex;
    justify-content: center;

    button {
        border-radius: 50px;
    }
}