<section>
    <main (click)="toggleProfilemenu()">
        <span>{{ this.currentUserInfo.name }}</span>
        <div class="profile-selector-avatar">
            <img src="{{this.currentUserInfo.avatar}}">
            <div *ngIf="this.currentUserInfo.onlineStatus" class="online"></div>
            <div *ngIf="!this.currentUserInfo.onlineStatus" class="offline"></div>
        </div>

        <mat-icon>keyboard_arrow_down</mat-icon>
        <div class="profile-selector-window" [ngClass]="{'d-none': !profilemenu_open}" (click)="toggleProfilemenu()">
            <span (click)="openDialog('menuProfile')">Profil</span>
            <div (click)="logout()">Log out</div>
        </div>
    </main>
    <div class="overlay" [ngClass]="{'d-none': !profilemenu_open}" (click)="toggleProfilemenu()"></div>
</section>