<div *ngIf="isMobileView" class="dialog-head dialog-head-mobile">
    <span># {{channel?.name}}</span>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="dialog-content">
    <div *ngIf="!isMobileView" class="dialog-head">
        <span># {{channel?.name}}</span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="name-input" [ngClass]="{'show-border': !isEditingName}">
        <div class="name">
            <span>Channel-Name</span>
            <p class="button" *ngIf="!isEditingName" (click)="toggleEditing('name')">
                <mat-icon *ngIf="isMobileView">edit_outlined</mat-icon>
                <span *ngIf="!isMobileView">Bearbeiten</span>
            </p>
            <p [ngClass]="{'button-disabled-2': isGuestUser || isChannelNameTaken || newChannelName == ''}" class="button" *ngIf="isEditingName">
                <span *ngIf="isChannelNameTaken">Channelname bereits vergeben</span>
                <mat-icon (click)="saveChanges('name')" *ngIf="isMobileView && !isChannelNameTaken">{{channel?.name !== newChannelName ?  'check_circle_outlined' : 'arrow_back'}}</mat-icon>
                <span (click)="saveChanges('name')" *ngIf="!isMobileView && !isChannelNameTaken">{{channel?.name !== newChannelName ?  'Speichern' : 'Zurück'}}</span>
            </p>
        </div>
        <div>
            <span class *ngIf="!isEditingName">{{newChannelName}}</span>
            <input (input)="onInput()" [(ngModel)]="newChannelName" *ngIf="isEditingName" matInput 
            placeholder="{{ newChannelName !== '' ? '{{channel?.name}}' : 'Bitte Channelname eingeben'}} ">
        </div>

    </div>
    <div class="dialog-bottom" [ngClass]="{'show-border': !isEditingDescription}">
        <div class="name-input">
            <div class="name">
                <span>Beschreibung</span>
                <p class="button" *ngIf="!isEditingDescription" (click)="toggleEditing('description')">
                    <mat-icon *ngIf="isMobileView">edit_outlined</mat-icon>
                    <span *ngIf="!isMobileView">Bearbeiten</span>
                </p>
                <p [ngClass]="{'button-disabled-2': isGuestUser}" class="button" *ngIf="isEditingDescription"
                    (click)="saveChanges('description')">
                    <mat-icon *ngIf="isMobileView">check_circle_outlined</mat-icon>
                    <span *ngIf="!isMobileView">Speichern</span>
                </p>
            </div>
            <div>
                <span *ngIf="!isEditingDescription">{{newChannelDescription}}</span>
                <input [(ngModel)]="newChannelDescription" *ngIf="isEditingDescription" matInput
                    placeholder="Dein Text hier">
            </div>

        </div>

        <div class="divider">
            <mat-divider></mat-divider>
        </div>
        <div class="name name-bottom">
            <span>Erstellt von</span>
            <p>{{channel?.creator}}</p>
        </div>
    </div>

    <div *ngIf="isMobileView" class="mobile-view show-border">
        <app-dialog-show-channelmembers></app-dialog-show-channelmembers>
    </div>

    <div class="button" [ngClass]="{'button-disabled': isGuestUser}">
        <button mat-raised-button color="primary" [disabled]="isGuestUser" (click)="leaveChannel()">
            {{isGuestUser ? 'Channel verlassen im Gast-Modus deaktiviert' : 'Channel verlassen'}}
        </button>
    </div>
</div>