<div class="dialog-content">
    <div class="dialog-head">
        <span>{{channel?.name}}</span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="name-input" [ngClass]="{'show-border': !isEditingName}">
        <div class="name">
            <span>Channel-Name</span>
            <p *ngIf="!isEditingName" (click)="toggleEditing('name')">Bearbeiten</p>
            <p *ngIf="isEditingName" (click)="saveChanges('name')">Speichern</p>
        </div>
        <span *ngIf="!isEditingName">{{channel?.name}}</span>
        <input [(ngModel)]="channel!.name" *ngIf="isEditingName" matInput placeholder={{channel?.name}}>
    </div>
    <div class="dialog-bottom" [ngClass]="{'show-border': !isEditingDescription}">
        <div class="name-input">
            <div class="name">
                <span>Beschreibung</span>
                <p *ngIf="!isEditingDescription" (click)="toggleEditing('description')">Bearbeiten</p>
                <p *ngIf="isEditingDescription" (click)="saveChanges('description')">Speichern</p>
            </div>
            <span *ngIf="!isEditingDescription">{{channel?.description}}</span>
            <input [(ngModel)]="channel!.description" *ngIf="isEditingDescription" matInput placeholder="Dein Text hier">
        </div>

        <div class="divider">
            <mat-divider></mat-divider>
        </div>
        <div class="name name-bottom">
            <span>Erstellt von</span>
            <p>{{channel?.creator}}</p>
        </div>
    </div>

    <div class="button">
        <button mat-raised-button color="primary">Channel verlassen</button>
    </div>
</div>