<div class="dialog-content">
    <div class="dialog-head">
        <span>Channel erstellen</span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button>
    </div>
    <div class="caption">
        <span>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein  #marketing zum Beispiel.</span>
    </div>
    <div class="name-input">
        <div class="name">
            <span>Channel-Name</span>
        </div>
        <input (input)="onInput()" [(ngModel)]="channel.name" matInput placeholder="# z.B. Kooperationsprojekte">
    </div>
    <div class="name-input">
        <div class="name">
            <span>Beschreibung (optional)</span>
        </div>
        <input [(ngModel)]="channel.description" matInput placeholder="Dein Text hier">
    </div>
    <div class="button">
        <button mat-raised-button color="primary" (click)="createChannel()" [disabled]="!activateCreateChannel()">
            {{ isChannelNameTaken ? 'Channel-Name vergeben' : 'Erstellen' }}
          </button>
    </div>
</div>