@import './../../../styles.scss';

section {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;

    @media (max-width: 1180px) {
        border-radius: 0;
    }
}

.lower-part-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: -webkit-fill-available;
    width: 100%;
}