@import './../../../styles.scss';

section {
    width: 100%;

    input {
        width: -webkit-fill-available;
        font-size: 24px;
        border-radius: 42px;
        background-color: white;
        border: none;
        padding: 17.5px 45px;

        @media (max-width: 1170px) {
            font-size: 20px;
        }
        @media (max-width: 1070px) {
            font-size: 17px;
        }

        @media (max-width: 1180px) {
            border: solid 1px $Light-purple;
            margin: 20px 20px;
            margin-top: 40px;
            padding: 12px 30px;
        }

        @media (max-height: 800px) and (max-width: 1180px) {
            margin-top: 20px;
        }    

        &:focus {
            outline: none;
        }
    }

    mat-icon {
        position: absolute;
        margin-left: -60px;
        margin-top: 16px;
        color: #686868;
        height: 32px;
        width: 32px;
        font-size: 32px;        
        @media (max-width: 1170px) {
            height: 28px;
            width: 28px;
            font-size: 28px;
        }
        @media (max-width: 1070px) {
            height: 20px;
            width: 20px;
            font-size: 20px;
        }
        @media (max-width: 1180px) {
            position: absolute;
            margin-left: -80px;
            margin-top: 47px;
            color: #686868;
            height: 36px;
            width: 36px;
            font-size: 36px;
        }

        @media (max-height: 800px) {
            margin-top: 28px;
        }

    }

}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 10px;
}