<section>
    <div class="start-animation d-none">
        <img src="assets/img/Logo.svg" alt="">
        <p>DABubble</p>
    </div>
    <header class="header">
        <div>
            <img src="assets/img/logo-header.svg" alt="">
        </div>
        <div class="create-profile">
            <span>Neu bei DABubble?</span>
            <a href="#">Konto erstellen</a>
        </div>
    </header>
    <div class="login ">
        <div class="container bg-white">
          <h1>Anmeldung</h1>
          <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
    
          <form>            
            <div>
              <div class="input-container">
                <img src="assets\icons\mail.svg">
                <input type="email" matInput placeholder="beispielname@email.com" required>
              </div>
    
              <div class="input-container">
                <img src="assets\icons\password.svg">
                <input type="password" matInput placeholder="Passwort" required>
              </div>
            </div>
    
            <div class="forgot-pass-container">
                <a class="forgot-pass">Passwort vergessen?</a>
            </div>

            <div class="or-box">
              <div class="bottom-line"></div>
              <span class="or">ODER</span>
              <div class="bottom-line"></div>
            </div>

            <div mat-button class="input-container">
              <img class="google-img" src="assets\icons\Google.svg">
              <span class="">Anmelden mit Google</span>
            </div>
            <div class="">
              <button mat-button class="main-button" type="submit">Anmelden</button>
              <button mat-button class="main-button">Gäste-Login</button>
            </div>
          </form>
        </div>
      </div>

</section>
