@import './../../styles.scss';

$AnnimationWidth: 390px;
$ImgWidth: 186.98px;
$AnnimationHeight: 183.99px;
$AnnimationWidthSmall: 230px;
$ImgWidthSmall: 70.65px;
$AnnimationHeightSmall: 69.53px;

section {
    min-height: 100vh;
    background-color: $Bg-color; 
    position: relative;
}

.d-flex-standard {
    @include dFlex();
}

.start-animation-container {
    position: absolute;
    top: calc(50vh - ($AnnimationHeight / 2));
    left: calc(50vw - ($AnnimationWidth / 2));
    animation: moveLeftUp 1s forwards 2.5s;
    @include dFlex($g: 60px);
    @media (max-width: 700px) {
        top: calc(50vh - ($AnnimationHeightSmall / 2));
        left: calc(50vw - ($AnnimationWidthSmall / 2));
        animation: moveLeftUpSmall 1s forwards 2.5s;
    }
}

.start-animation {
    animation: fadeOut 1s forwards 3s;
    z-index: 2;
    @include posAbs();   
    width: 100%;
    height: 100%;
    background: $Purple-1;

    img {
        width: $ImgWidth;
        height: $AnnimationHeight;
        z-index: 4;
        animation: moveImage 1s forwards;
        background: $Purple-1;
        @media (max-width: 700px) {
            width: $ImgWidthSmall;
            height: $AnnimationHeightSmall;
        }
    }

    p {
        position: absolute;
        color: $White;    
        font-size: 76px;
        animation: fadeInText 2s forwards;
        opacity: 0;
        z-index: 3;
        margin: 0;
        @media (max-width: 700px) {
            font-size: 45px;
        }
    }
}

.cursor-pointer {
    cursor: pointer !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255, 0.7);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: 2;
}

.header {
    @include dFlex($jc: space-between);
    padding:75px;
}

.link {
    @include fonts($fw: 400, $fs: 18px);
    color: $Purple-2; 
    text-decoration: none;
    &:hover {
    @include fonts($fs: 18px);
    }
}

.create-profile {
    @include dFlex($g: 16px, $fd: column);
    span {
        @include fonts($fw: 400, $fs: 18px);
    }
}

.create-profile.bottom {
    display: none;
    .submit-buttons {
        margin-bottom: 60px;
    }    
}


.login {
    width: 100%;
    position: relative;
}

form {
    width: 100%;
    span {
        @include fonts($fw: 400, $fs: 18px);
    }
}

.container { 
    position: relative;
    @include dFlex($fd: column);
    max-width: 606px;
    padding: 50px 60px;
    margin-bottom: 60px;
    border-radius: 30px;
    p {
        @include fonts($fw: 400, $fs: 20px)
    }
    h1 {
        @include fonts($fs: 46px);
        color: $Purple-1; 
        margin-block-end: 0; 
        margin-bottom: 30px;
    }
}

.bg-white {
    background-color: $White;
}

.input-container {
    width: 100%; 
    background-color: $Bg-color;
    margin-top: 40px;
    margin-bottom: 8px;
    border-radius: 100px;
    border: 1px solid $Bg-color;
    img {
        margin: 0px 20px;
        width: 24px;
        height: 24px;
    }  
    span {
        color: $Purple-1;
        padding: 20px;
    }
    &:hover {
        border: 1px solid #000000;
    }
}

.error-txt {
    visibility: hidden;
    color: $Rosa-error;
}

.error-txt.show {
    visibility: visible;
  }

.google-btn {
    span {
        &:hover {
            @include fonts($fs: 18px);   
        }
    }
    margin-bottom: 32px;
}

input {
    background-color: $Bg-color;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    width: calc(100% - 20px);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.forgot-password {
    margin: 35px 0px;
    @include fonts($fw: 400, $fs: 18px);
}

.bottom-line {
    border-bottom: 2px solid #B7BADD;
    width: 45%;
    margin: 10px;
}

.google-img {
    width: 38px !important;
    height: 38px !important;
}

.submit-buttons {
    @include dFlex();
    gap: 30px;
    width: 100%;
    button {
        padding: 25px;   
        border-radius: 25px; 
        @include fonts($fs: 18px);
        font-family: 'Nunito', sans-serif !important;
    }
    .btn-submit {
        background-color: $Purple-1;
        cursor: pointer;
        color: $White;
        &:hover {
            background-color: $Purple-2;
        }
        &:disabled {
            cursor: not-allowed !important;
            background-color: $Purple-2;        
            &:hover {
              background-color: $Purple-2;
              cursor: not-allowed !important;
            }
          }
    }
    .btn-guest {
        color: $Purple-1;
        border: 1px solid $Purple-1;
        &:hover {
            background-color: $Purple-1;
            color: $White;
        }
    }
}



.arrow-back {
    @include posAbs($t:72.5px, $l: 44px);
    &:hover {
        scale: 1.3;
    }
}

.checkbox {
    width: 24px;
    height: 24px;
    background-image: url('/assets/icons/checkbox.svg');
    &:hover {
        background-image: url('/assets/icons/checkbox-hover.svg');
    }
}

.checkbox.checked {
    background-image: url('/assets/icons/checked.svg');
    &:hover {
        background-image: url('/assets/icons/checked-hover.svg');
    }
}

.privacy-container {
    @include dFlex($jc: flex-start, $g: 4px);
    p {
        margin: 0;
    }
    margin-top: 40px;
    margin-bottom: 6px;
}

.privacy-policy {
    width: 190.5px;
}

.btn-end {
    @include dFlex($jc: flex-end);
}

.avatar-container {
    min-height: 669px;
    .error-txt.show {
        text-align: center;
    }
}

h2 {
    @include fonts($fs: 32px)
}

.mt-32{
    margin-top: 32px;
}

.selectedAvatar {
    width: 168px;
    height: 168px;
    border-radius: 100px;
    margin-bottom: 8px;
    object-fit: cover;
}

.avatar-img-container {
    @include dFlex($g: 8px);
    img {
        width: 72px;
        height: 72px;
        border-radius: 41px;
        border: 4px solid $White;
        &:hover {
            border: 4px solid $Text-gray;
        }
    }
    img.selected {
        border: 4px solid $Text-gray;
    }
    
}

.own-img-container {
    width: 100%;
    p {
        width: 100%;
    }
}

.popup {
    @include dFlex($g: 18px);
    @include posAbs($t: 50%, $l: 50%);  
    transform: translate(-50%, -50%); 
    width: fit-content;
    height: fit-content;
    padding: 20px 30px 20px 30px;
    border-radius: 30px 30px 0px 30px;
    background-color: $Purple-1;
    z-index: 3;
    p {
        @include fonts($fs: 22px);
        margin: 0;
        color: $White;
    }
    &.animate-in {
        animation: slideInFromRight 0.5s ease-out forwards;
    }
    @media (max-width: 726px) {
        @include posAbs($t: 50%, $l: unset);  
        transform: translate(0, 0);
        &.animate-in {
            animation: slideInToTop 0.5s ease-out forwards;
        }
    }
}

.matspinner {
    position: absolute;
    z-index: 2;
}

footer {
    @include dFlex($g: 16px);
    position: absolute;
    bottom: 10px;
    width: 100%;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInToTop {
    0% {
        transform: translate(50%, 50%);
        transform: translateY(0);
    }
    100% {
        transform: translate(50%, 50%);
        transform: translateY(-100%);
    }
}

@keyframes moveImage {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes fadeInText {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    50% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        transform: translateX(60%);
        opacity: 1;
        z-index: 1;
    }
}

@keyframes moveLeftUp {
    0% {
        position: absolute;
        top: calc(50vh - ($AnnimationHeight / 2));
        left: calc(50vw - ($AnnimationWidth / 2));
    } 
    
    100% {
        position: absolute;
        top: 0;
        left: 0;
    }
}


@keyframes moveLeftUpSmall {
    0% {
        position: absolute;
        top: calc(50vh - ($AnnimationHeightSmall / 2));
        left: calc(50vw - ($AnnimationWidthSmall / 2));
    } 
    
    100% {
        position: absolute;
        top: 0;
        left: calc(50vw - ($AnnimationWidthSmall / 2));
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-height: 1100px) {
    .header {
        padding: 30px 75px;
    }
    .input-container {
        margin-top: 12px;
    }
    .forgot-password {
        margin: 12px;
    }
}


@media (max-width: 726px) {
    header {
        justify-content: center !important;
    }
    .container {
        border-radius: 0;
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 17px;
        }
    }
    .container.login {
        margin-bottom: 30px;
    }
    .create-profile {
        display: none;
    }
    .create-profile.bottom {
        display: flex;
    }

    .avatar-container, .forgot-pw-container {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .avatar-img-container {
        img {
            width: 60px;
            height: 60px;
        }
    }
    .selectedAvatar {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 620px) {
    form span.error-txt {
        font-size: 10px;
    }

    .arrow-back {
        top: 15px;
        left: 15px;
    }
}
@media (max-width: 600px) {
    .container {
        padding: 50px 24px;
    }
    .own-img-container {
        flex-direction: column;
        .btn-end {
            justify-content: center;
        }
    }
}

@media (max-width: 500px) {
    .avatar-img-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 470px) {
    .google-btn {
        span {
            @include fonts($fs: 15px);
            &:hover {
                @include fonts($fs: 15px);   
            } 
        }

    }

    .input-container {
        margin-top: 20px;
        span {
            padding: 20px 10px;
        }
    }

    input,.submit-buttons button {
        font-size: 16px;
    }

    .privacy-container {
        margin-top: 0;
        .privacy-policy {
            width: fit-content;
        }
        p, a {
            font-size: 14px;
        }
    }
}

@media (max-width: 380px) {
    .container {
        padding: 50px 6px;
    }
    .submit-buttons button {
        font-size: 14px;
    }
}