<section [ngSwitch]="switch_expression">
    <div class="start-animation">
      <div class="start-animation-container">
        <img src="assets/img/Logo.svg" alt="">
        <p>DABubble</p>
      </div>        
    </div>
    <header class="header">
        <div>
            <img src="assets/img/logo-header.svg" alt="">
        </div>
        <div *ngSwitchCase="'login'" class="create-profile">
            <span>Neu bei DABubble?</span>
            <a class="link cursor-pointer" (click)="changeSwitchCase('signup')">Konto erstellen</a>
        </div>
    </header>
    <div class="login d-flex-standard">
        <div *ngSwitchCase="'login'" class="container bg-white">
          <h1>Anmeldung</h1>
          <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>    
          <form (ngSubmit)="login()">            
            <div>
              <div class="input-container d-flex-standard cursor-pointer">
                <img src="assets/icons/mail.svg">
                <input type="email" matInput placeholder="beispielname@email.com" [(ngModel)]="user.email" name="email" required>
                <img src="assets/icons/empty.svg">
              </div>
              <span [class.show]="loginErrorUser" class="error-txt">*Diese E-Mail-Adresse ist leider ungültig.</span>   
              <div class="input-container d-flex-standard cursor-pointer">
                <img src="assets/icons/password.svg">
                <input type="password" matInput placeholder="Passwort" [(ngModel)]="user.password" name="password" required>
                <img (click)="changeInputPasswordToTxt($event)" src="assets/icons/visibility_off.svg" alt="Toggle Password Visibility">
              </div>
              <span [class.show]="loginErrorPassword" class="error-txt">Falsches Passwort. Bitte noch einmal versuchen.</span> 
            </div>    
            <div class="forgot-pass-container">
                <a (click)="changeSwitchCase('forgotPassword')" class="link forgot-password d-flex-standard cursor-pointer">Passwort vergessen?</a>
            </div>
            <div class="d-flex-standard">
              <div class="bottom-line"></div>
              <span class="or">ODER</span>
              <div class="bottom-line"></div>
            </div>
            <div (click)="loginGoogle()" mat-button class="input-container google-btn d-flex-standard cursor-pointer">
              <img class="google-img" src="assets/icons/Google.svg">
              <span>Anmelden mit Google</span>
            </div>
            <div class="submit-buttons d-flex-standard">
              <button class="btn-submit" mat-button type="submit">Anmelden</button>
              <button class="btn-guest" mat-button (click)="loginGuest()">Gäste-Login</button>
            </div>
          </form>
        </div>

        <div *ngSwitchCase="'signup'" class="container bg-white">
          <img (click)="changeSwitchCase('login')" class="arrow-back cursor-pointer" src="assets/icons/arrow_back.svg" alt="">
          <h1>Konto erstellen</h1>
          <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
          <form (ngSubmit)="moveToAvatar()">
            <div>
              <div class="input-container d-flex-standard cursor-pointer">
                <img src="assets/icons/person_filled.svg">
                <input #nameInput="ngModel" type="text" matInput [(ngModel)]="user.name" name="name" placeholder="Vorname und Nachname" required minlength="5">
                <img src="assets/icons/empty.svg">
              </div>
              <span [class.show]="nameInput.invalid && nameInput.dirty" class="error-txt">Bitte schreiben Sie einen Namen mit mindestens 5 Zeichen.</span> 
              
              <div class="input-container d-flex-standard cursor-pointer">
                <img src="assets/icons/mail.svg">
                <input #emailInput="ngModel" type="email" matInput [(ngModel)]="user.email" name="email" placeholder="beispielname@email.com" required>
                <img src="assets/icons/empty.svg">
              </div>
              <span [class.show]="(emailInput.invalid || !validateEmail(user.email) || loginErrorUser) && emailInput.dirty" class="error-txt">*Diese E-Mail-Adresse ist leider ungültig.</span>     
              
              <div class="input-container d-flex-standard cursor-pointer">
                <img src="assets/icons/password.svg" alt="lock">
                <input #passwordInput="ngModel" type="password" matInput [(ngModel)]="user.password" name="password" placeholder="Passwort" required minlength="8">
                <img (click)="changeInputPasswordToTxt($event)" src="assets/icons/visibility_off.svg" alt="Toggle Password Visibility">
              </div>
              <span [class.show]="passwordInput.invalid && passwordInput.dirty" class="error-txt">Bitte geben Sie ein Passwort ein mit mindestens 8 Zeichen.</span> 
              
              <div class="input-container d-flex-standard cursor-pointer">
                <img src="assets/icons/password.svg" alt="lock">
                <input #confirmPasswordInput="ngModel" type="password" matInput [(ngModel)]="user.confirmPassword" name="confirmPassword" placeholder="Passwort bestätigen" required>
                <img (click)="changeInputPasswordToTxt($event)" src="assets/icons/visibility_off.svg" alt="Toggle Password Visibility">
              </div>  
              <span [class.show]="!isPasswordMatching() && confirmPasswordInput.dirty" class="error-txt">Die Passwörter stimmen nicht überein.</span>             
            </div> 
            <div class="privacy-container">
              <div (click)="changeCheckboxCheck($event)" class="checkbox"></div>
              <p>Ich stimme der</p>
              <a class="link privacy-policy" href="">Datenschutzerklärung</a>
              <p>zu</p>
            </div>
            <div class="btn-end submit-buttons d-flex-standard">
              <button class="btn-submit" mat-button type="submit" [disabled]="!isFormValid()">Weiter</button>
            </div>
          </form>
        </div>
        

        <div *ngSwitchCase="'avatar'" class="container bg-white avatar-container">
          <img (click)="changeToSignupAndUncheck()" class="arrow-back cursor-pointer" src="assets/icons/arrow_back.svg" alt="">
          <h1>Wähle deinen Avatar</h1>
          <img class="selectedAvatar" [src]="selectedAvatar" alt="">
          <span [class.show]="errorUploadFile" class="error-txt">Bitte wählen Sie eine Datei unter 5 MB und im jpg/jpeg/png-Format.</span>             
          <h2 class="mt-32">{{ user.name }}</h2>
          <p>Aus der Liste wählen</p>
          <div class="avatar-img-container">
            <img *ngFor="let avatar of avatarPaths; let i = index" [class.selected]="selectedAvatarIndex === i" class="cursor-pointer" src="{{ avatar }}" alt="Avatar" (click)="changeAvatar(avatar, i)">
          </div>
          <div class="d-flex-standard mt-32 own-img-container">
            <p>eigenes Bild verwenden</p>
            <div class="submit-buttons btn-end">  
              <input id="fileInput" class="d-none" type="file" (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png" />            
              <button class="btn-guest" mat-button (click)="triggerFileInput()">
                  Datei hochladen
              </button>
            </div>
          </div>

          <div class="btn-end submit-buttons mt-32">
            <button (click)="register()" class="btn-submit" mat-button type="submit">Weiter</button>
          </div>
        </div>

        <div *ngSwitchCase="'forgotPassword'" class="container bg-white">
          <img (click)="changeSwitchCase('login')" class="arrow-back cursor-pointer" src="assets/icons/arrow_back.svg" alt="">
          <h1>Passwort zurücksetzen</h1>
          <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
          <form>            
            <div>              
              <div class="input-container d-flex-standard cursor-pointer">
                <img src="assets/icons/mail.svg">
                <input type="email" matInput placeholder="beispielname@email.com" [(ngModel)]="user.email" name="email" required>
                <img src="assets/icons/empty.svg">
              </div>
              <span [class.show]="loginErrorUser" class="error-txt">*Diese E-Mail-Adresse ist leider ungültig.</span> 
              <p>Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>   
            </div>  
          </form>
          <div class="btn-end submit-buttons mt-32">
            <button (click)="setNewPassword()" class="btn-submit" mat-button type="submit">E-Mail senden</button>
          </div>
        </div>
    </div>
</section>
