<nav>
    <div class="channel-name" (click)="openDialog('editChannel')">
        <mat-icon class="tag">tag</mat-icon>
        <span>Entwicklerteam</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <div class="main-chat-person-section">
        <div class="avatar-count">
            <div class="avatar-container">
                <img src="../../../assets/avatars/char_1.png">
                <img src="../../../assets/avatars/char_1.png">
                <img src="../../../assets/avatars/char_1.png">
                <img src="../../../assets/avatars/char_1.png">
                <img src="../../../assets/avatars/char_1.png">
            </div>
            <span>5</span>
        </div>

        <div class="add-person-btn">
            <mat-icon class="rotate-icon custom-icon">person_add</mat-icon>
        </div>
    </div>
</nav>
