@import './../../../styles.scss';

section {
    background-color: white;
    border-radius: 30px;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;


    @media (max-width: 1180px) {
        border-radius: 0px;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        gap: 30px;

        @media(max-width:1000px) {
            padding-right: 50px;
        }
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        cursor: pointer;
        transition: 0.1s ease-in;

        div {
            display: flex;
            align-items: center;
            gap: 15px;
            border-radius: 30px;

            &:hover {
                background-color: $Bg-color;
            }

            span {
                font-size: 22px;
                font-weight: 700;
                letter-spacing: 0;
                padding-right: 20px;
                text-wrap: nowrap;
            }
        }
    }
}

.d-none {
    display: none;
}

.side-bar-edit {
    height: 42px;
    width: 42px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.1s ease-in;

    &:hover {
        background-color: $Bg-color;
        color: $Purple-1;
        scale: 1.1;
    }
}

.side-bar-img {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        border-radius: 100%;
    }
}

.absolute {
    position: absolute;
}

.side-bar-channels {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (max-height: 800px) {
        gap: 0;
    }
}

.side-bar-channels-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    div {
        display: flex;
        align-items: center;
        gap: 16px;

        span {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.channel-header-add-btn {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    transition: 0.1s ease-in;
    cursor: pointer;

    &:hover {
        background-color: $Bg-color;
    }

    mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;

        @media (max-width:1000px) {
            font-size: 30px;
            color: $Purple-1;
        }

        &:hover {
            scale: 1.1;
        }
    }
}

.side-bar-hover {
    &:hover {
        color: $Purple-1;
        cursor: pointer;
    }
}

.side-bar-profile-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: auto;
    max-height: 36vh;

    @media (min-height: 400px) {
        max-height: 24vh;
    }

    @media (min-height: 800px) {
        max-height: 22.5vh;
    }

    @media (min-height: 900px) {
        max-height: 26vh;
    }

    @media (min-height: 1000px) {
        max-height: 27.5vh;
    }

    @media (min-height: 1100px) {
        max-height: 29vh;
    }

    @media (min-height: 1200px) {
        max-height: 31vh;
    }

    @media (min-height: 1300px) {
        max-height: 32vh;
    }

    @media (min-height: 1400px) {
        hemax-heightimax-heightght: 33.5vh;
    }

    @media (min-height: 1500px) {
        max-height: 35vh;
    }

    @media (min-height: 1600px) {
        max-height: 36vh;
    }

}

.side-bar-channels-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    height: auto;
    max-height: 36vh;

    @media (min-height: 400px) {
        max-height: 24vh;
    }

    @media (min-height: 800px) {
        max-height: 22.5vh;
    }

    @media (min-height: 900px) {
        max-height: 26vh;
    }

    @media (min-height: 1000px) {
        max-height: 27.5vh;
    }

    @media (min-height: 1100px) {
        max-height: 29vh;
    }

    @media (min-height: 1200px) {
        max-height: 31vh;
    }

    @media (min-height: 1300px) {
        max-height: 32vh;
    }

    @media (min-height: 1400px) {
        max-height: 33.5vh;
    }

    @media (min-height: 1500px) {
        max-height: 35vh;
    }

    @media (min-height: 1600px) {
        max-height: 36vh;
    }

    @media (max-height: 800px) {
        gap: 0;
    }

    div {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 20px;
        padding: 5px 20px;
        width: fit-content;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
            background-color: $Bg-color;

            mat-icon {
                color: $Purple-1;
            }
        }

        span {
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0;
        }
    }
}

.tag {
    font-style: italic;
}

.side-bar-channel-add {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 40px;
    margin-top: 20px;

    &:hover {
        mat-icon {
            scale: 1.1;
        }
    }
}

.side-bar-profile {
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    padding: 5px 20px;
    border-radius: 30px;

    &:hover {
        cursor: pointer;
        background-color: $Bg-color;
    }

    span {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.side-bar-profile-picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
}

.online {
    position: absolute;
    right: 0px;
    bottom: -1px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid $Bg-color;
    background-color: $online-green;
}

.offline {
    position: absolute;
    right: 0px;
    bottom: -1px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid $Bg-color;
    background-color: $Text-gray;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}