<section>
    <header>
        <div>
            <div class="side-bar-img">
                <img src="../../../assets/img/code-learning-bg.png">
                <img src="../../../assets/img/code-learning-content.png" class="absolute">
            </div>
            <span>Code learning</span>
        </div>
        <mat-icon class="side-bar-edit" (click)="openNewMessageInput()">edit_square</mat-icon>
    </header>

    <main>
        <div class="side-bar-channels">
            <div class="side-bar-channels-header">
                <div class="side-bar-hover" (click)="toggleChannels()">
                    <mat-icon>{{ channel_icon }}</mat-icon>
                    <span>
                        <mat-icon>workspaces</mat-icon>
                        <span>Channels</span>
                    </span>
                </div>
                <div class="channel-header-add-btn" (click)="openDialog('createChannel')">
                    <mat-icon>add</mat-icon>
                </div>
            </div>

            <div [ngClass]="{'d-none': !channels_opened}">
                <div class="side-bar-channels-list">
                    <li *ngFor="let channel of channels">
                        <div (dblclick)="openChannel(channel)">
                            <mat-icon class="tag">tag</mat-icon>
                            <span>{{ channel.name }}</span>
                        </div>
                    </li>
                    <div class="side-bar-channel-add side-bar-hover" (click)="openDialog('createChannel')">
                        <mat-icon>add_circle</mat-icon>
                        <span>Channel hinzufügen</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="side-bar-channels">
            <div class="side-bar-channels-header">
                <div class="side-bar-hover" (click)="toggleDM()">
                    <mat-icon>{{ directmessage_icon }}</mat-icon>
                    <span>
                        <mat-icon>account_circle</mat-icon>
                        <span>Direktnachrichten</span>
                    </span>
                </div>
            </div>

            <div [ngClass]="{'d-none': !directmessages_opened}">
                <div class="side-bar-profile-list">

                    <div class="side-bar-profile" (click)="openDM(user)" *ngFor="let user of users; let i = index">
                        <div class="side-bar-profile-picture">
                            <img src="{{ user.avatar }}">
                            <div *ngIf="user.onlineStatus" class="online"></div>
                            <div *ngIf="!user.onlineStatus" class="offline"></div>
                        </div>
                        <span>{{ user.name }}</span>
                    </div>

                </div>
            </div>
        </div>
    </main>
</section>