<nav>
    <div class="channel-name">
        <mat-icon class="tag">tag</mat-icon>
        <span>team</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <div class="main-chat-person-section">
        <div class="avatar-count">
            <div class="avatar-container">
                <div>
                    <img src="../../../../assets/avatars/avatar_0.svg">
                </div>
            </div>
            <span></span>
        </div>

        <div class="add-person-btn">
            <mat-icon class="rotate-icon custom-icon">person_add</mat-icon>
        </div>
    </div>
</nav>