@import './../login/login.component.scss';

.container {
    h1 {
        margin-bottom: 0px;
    }
}   

.login {
    @include dFlex($fd: column);
}


@media (max-width: 726px) {
    .container {
        border-radius: 30px;
    }
}

@media (max-width: 474px) {
    .container {
        border-radius: 0;
    }
}