<div class="chat" [ngClass]="{'chat-mobile': mobile}">
    <div #chat_content class="chat-content">

        <div *ngIf="selectedChannel" class="channel-created-message">
            <div class="channel-created-message-header">

                <h1><mat-icon>tag</mat-icon> {{ selectedChannel.name }}</h1>
            </div>
            <div>
                <span>
                    <div>{{ checkChannelCreator() }} diesen Channel {{ checkChannelCreationTime() }} erstellt.</div>
                    <div>Das ist der Anfang des Channels
                        <h2>
                            <mat-icon class="tag">tag</mat-icon>
                            <span>{{ selectedChannel.name }}</span>
                            .
                        </h2>
                    </div>
                </span>
            </div>
        </div>

        <div class="emoji-window-messages-overlay" *ngIf="emoji_window_messages_open">
            <div id="emoji-window-messages" class="emoji-window-messages">
                <emoji-mart emoji="santa" set="apple" size="16" (emojiClick)="addReaction($event)"></emoji-mart>
            </div>
        </div>

        <div *ngFor="let message of chatMessages; let i = index">

            <div class="chat-timestamp" *ngIf="returnPartingLineValue(i).boolean">
                <div></div>
                <span>{{ returnPartingLineValue(i).text }}</span>
            </div>

            <div class="user-message" *ngIf="message.creatorId == this.user.id">
                <img class="user-message-avatar" src="{{ message.avatar }}">
                <div class="flex-end">
                    <div class="user-message-time-name">
                        <span>{{ getFormattedTime(message) }}</span>
                        <h3>{{ message.creator }}</h3>
                    </div>

                    <div *ngIf="((thread_subject?.id !== message.id || !editingMessage) && message.message)" class="speech-bubble-user">
                        <div *ngFor="let part of formatMessageParts(message)"> 
                            <div *ngIf="isPartTag(part)" (click)="openProfile(part.id)">
                                <span class="space">_</span>
                                    <a class="tagUser">{{ part.text }}</a>                   
                                <span class="space">_</span>
                            </div>                           
                            <span *ngIf="!isPartTag(part)" #plainText>{{ part }}</span>
                        </div>
                    </div>  

                    <div *ngIf="message.img">
                        <button mat-raised-button (click)="this.commonService.downloadImage(message.img)">
                            <mat-icon>file_download</mat-icon> Download
                        </button>
                    </div>

                    <div *ngIf="(thread_subject?.id == message.id && editingMessage)" class="speech-bubble-user-edit">
                        <textarea #textArea (input)="changedTextMessage($event)" [attr.cols]="textareaCols" [attr.rows]="4"
                            value="{{ textAreaContent }}"></textarea>
                        <div>
                            <button (click)="toggleEditing()" class="btn-cancel">Abbrechen</button>
                            <button (click)="saveEditedMessage()" [disabled]="!textArea.value.trim()" class="btn-save">Speichern</button>
                        </div>
                    </div>

                    <div class="user-message-emojis">
                        <div class="anon-user-answer-container">
                            <h3 (click)="selectMessageAndOpenThread(i)" *ngIf="message.answered_number != 0">{{
                                message.answered_number
                                }} Antworten</h3>
                            <span *ngIf="message.latest_answer !== ''">Letzte Antwort {{
                                getFormattedTimeForLatestAnswer(message.latest_answer) }}</span>
                        </div>
                        <div class="user-message-emojis-container">
                            <div (mouseenter)="openReactionInfo(i,j)" (mouseleave)="closeReactionInfo()"
                                class="user-message-emojis-showcase"
                                *ngFor="let reactions of message.reactions; let j = index">
                                <div>{{ reactions.reaction }}</div>
                                <span>{{ reactions.amount }}</span>

                                <div [ngClass]="{'short-reactioninfo': reactionInfoNumber == message.reactions.length-1,'reactioninfo': reactionInfoNumber !== message.reactions.length-1 }"
                                    *ngIf="reactionInfo && reactionInfoNumber == j && reactionInfoMessage == i">
                                    <div>{{ reactions.reaction }}</div>
                                    <h4>{{ reactions.creator }}</h4>
                                    <span>hat reagiert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user-message-hover-options">
                    <div (click)="addPreSelectedReaction('✅',i)">✅</div>
                    <div (click)="addPreSelectedReaction('🙌',i)">🙌</div>
                    <mat-icon (click)="toggleEmojiWindowForMessage(i)"
                        class="material-icons-outlined">add_reaction</mat-icon>
                    <mat-icon (click)="selectMessageAndOpenThread(i)"
                        class="material-icons-outlined">insert_comment</mat-icon>
                    <mat-icon *ngIf="!message.img" (click)="toggleHoverOptionEditMessage()">more_vert</mat-icon>
                    <span *ngIf="hoverOptionEditMessage_open && !message.img">
                        <h1 class="hover-options-edit-message" (click)="editMessage(message.message, i)">
                            Nachricht bearbeiten
                        </h1>
                    </span>
                </div>
            </div>

            <div class="anon-user-message" *ngIf="message.creatorId !== this.user.id">
                <img class="user-message-avatar" src="{{ message.avatar }}">
                <div>
                    <div class="anon-user-message-time-name">
                        <span>{{ getFormattedTime(message) }}</span>
                        <h3>{{ message.creator }}</h3>
                    </div>
                    <div *ngIf="((thread_subject?.id !== message.id || !editingMessage) && message.message)" class="anon-speech-bubble-user">
                        <div *ngFor="let part of formatMessageParts(message)"> 
                            <div *ngIf="isPartTag(part)" (click)="openProfile(part.id)">
                                <span class="space">_</span>
                                    <a class="tagUser anon">{{ part.text }}</a>                   
                                <span class="space">_</span>
                            </div>                           
                            <span *ngIf="!isPartTag(part)" #plainText>{{ part }}</span>
                        </div>
                    </div>  

                    <div *ngIf="message.img">
                        <button mat-raised-button (click)="this.commonService.downloadImage(message.img)">
                            <mat-icon>file_download</mat-icon> Download
                        </button>
                    </div>
                    <div class="anon-user-message-emojis">
                        <div class="anon-user-answer-container">
                            <h3 (click)="selectMessageAndOpenThread(i)" *ngIf="message.answered_number != 0">{{
                                message.answered_number
                                }} Antworten</h3>
                            <span *ngIf="message.latest_answer !== ''">Letzte Antwort {{
                                getFormattedTimeForLatestAnswer(message.latest_answer) }}</span>
                        </div>
                        
                        <div class="user-message-emojis-container">
                            <div (mouseenter)="openReactionInfo(i,j)" (mouseleave)="closeReactionInfo()"
                                class="user-message-emojis-showcase"
                                *ngFor="let reactions of message.reactions; let j = index">

                                <div>{{ reactions.reaction }}</div>
                                <span>{{ reactions.amount }}</span>

                                <div class="reactioninfo"
                                    *ngIf="reactionInfo && reactionInfoNumber == j && reactionInfoMessage == i">
                                    <div>{{ reactions.reaction }}</div>
                                    <h4>{{ reactions.creator }}</h4>
                                    <span>hat reagiert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="anon-message-hover-options">
                    <div (click)="addPreSelectedReaction('✅',i)">✅</div>
                    <div (click)="addPreSelectedReaction('🙌',i)">🙌</div>
                    <mat-icon (click)="toggleEmojiWindowForMessage(i)"
                        class="material-icons-outlined">add_reaction</mat-icon>
                    <mat-icon (click)="selectMessageAndOpenThread(i)"
                        class="material-icons-outlined">insert_comment</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chat-input-container">
    <div *ngIf="showUserList" class="added-user-list">
        <div class="selected-user" *ngFor="let user of filteredUsers" (click)="insertUserName(user.name, user.id)">
            <div class="side-bar-profile">
                <div class="side-bar-profile-picture">
                    <img src="{{user.avatar}}">
                    <div [ngClass]="{ 'online': user.onlineStatus, 'offline': !user.onlineStatus }"></div>
                </div>
                <span>{{ user.name }}</span>
            </div>
        </div>
    </div>
    <div class="chat-input">
        <textarea *ngIf="!uploadedFileLink && !errorUploadFile" (keyup.enter)="sendMessageToChannel()" (input)="onTextareaInput($event)" #message
            class="chat-input-design" placeholder="Nachricht an # {{ selectedChannel?.name }}"></textarea>
        <!-- Test for File upload -->
        <div *ngIf="uploadedFileLink" class="submit-buttons d-flex-standard">
            <button class="btn-submit" mat-button>
                <a href="{{uploadedFileLink}}" target="_blank">Datei ansehen</a>
            </button>
            <button class="btn-guest" mat-button (click)="removeUploadedFile()">Entfernen</button>
        </div>
        <div *ngIf="errorUploadFile">
            <p class="error-txt">Bitte wählen Sie eine Datei unter 5 MB und im jpg/jpeg/pdf/png-Format.</p>
        </div>
        <div class="chat-input-lower-position">
            <div class="chat-input-options">
                <div>
                    <!-- Test for File upload -->
                    <input #fileInput id="fileInput-main-chat" (change)="handleFileInput($event)" class="d-none" type="file"
                        accept=".jpg,.jpeg,.png,.pdf" />
                    <mat-icon (click)="this.commonService.triggerFileInput('fileInput-main-chat')">add</mat-icon>
                </div>

                <div class="chat-input-line"></div>

                <div class="emoji-window" [ngClass]="{'d-none': !emoji_window_open}">
                    <emoji-mart emoji="santa" set="apple" size="16" (emojiClick)="addEmoji($event)"></emoji-mart>
                </div>

                <mat-icon (click)="toggleEmojiWindow()">sentiment_satisfied</mat-icon>

                <mat-icon (click)="addAtSymbolToTextarea()">alternate_email</mat-icon>
            </div>
            <mat-icon class="chat-input-send" (click)="sendMessageToChannel()">send</mat-icon>
        </div>
    </div>
</div>