<div class="chat">
    <div class="chat-content">
        <div class="user-message">
            <img class="user-message-avatar" src="../../../../assets/avatars/avatar_0.svg">
            <div class="flex-end">
                <div class="user-message-time-name">
                    <span>14:04 Uhr</span>
                    <h3>Frederik Beck</h3>
                </div>
                <div class="speech-bubble-user">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Tempore nostrum minus exercitationem aliquam incidunt ducimus. Voluptate commodi nihil ipsum
                    molestias itaque quae quidem eligendi aperiam recusandae, optio vel earum sunt.
                </div>
                <div class="user-message-emojis">
                    <div class="user-message-emojis-showcase">
                        <div>🎈</div>
                        <span>1</span>
                    </div>
                    <div class="user-message-emojis-showcase">
                        <div>👽</div>
                        <span>1</span>
                    </div>
                    <mat-icon>add_reaction</mat-icon>
                </div>
            </div>

            <div class="user-message-hover-options">
                <div>✔</div>
                <div>🤚</div>
                <mat-icon>add_reaction</mat-icon>
                <mat-icon>insert_comment</mat-icon>
                <mat-icon>more_vert</mat-icon>
                <span>
                    <h1 class="hover-options-edit-message">
                        Nachricht bearbeiten
                    </h1>
                </span>
            </div>
        </div>

        <div class="chat-timestamp">
            <div></div>
            <span>Dienstag, 14 Januar</span>
        </div>

        <div class="anon-user-message">
            <img class="user-message-avatar" src="../../../../assets/avatars/avatar_0.svg">
            <div>
                <div class="anon-user-message-time-name">
                    <span>14:04 Uhr</span>
                    <h3>Frederik Beck</h3>
                </div>
                <div class="anon-speech-bubble-user">
                    Welche Version ist aktuell von Angular
                </div>
                <div class="anon-user-message-emojis">
                    <div class="anon-user-answer-container">
                        <h3 (click)="openThread()">2 Antworten</h3>
                        <span>Letzte Antwort 14:56</span>
                    </div>
                    <div class="user-message-emojis-showcase">
                        <div>🎈</div>
                        <span>1</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-timestamp">
            <div></div>
            <span>Heute</span>
        </div>

        <div class="user-message">
            <img class="user-message-avatar" src="../../../../assets/avatars/avatar_0.svg">
            <div class="flex-end">
                <div class="user-message-time-name">
                    <span>14:04 Uhr</span>
                    <h3>Frederik Beck</h3>
                </div>
                <div class="speech-bubble-user">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Tempore nostrum minus exercitationem aliquam incidunt ducimus. Voluptate commodi nihil ipsum
                    molestias itaque quae quidem eligendi aperiam recusandae, optio vel earum sunt.
                </div>
                <div class="user-message-emojis">
                    <div class="user-message-emojis-showcase">
                        <div>🎈</div>
                        <span>1</span>
                    </div>
                    <div class="user-message-emojis-showcase">
                        <div>👽</div>
                        <span>1</span>
                    </div>
                    <mat-icon>add_reaction</mat-icon>
                </div>
            </div>
            <div class="user-message-hover-options">
                <div>✔</div>
                <div>🤚</div>
                <mat-icon>add_reaction</mat-icon>
                <mat-icon>insert_comment</mat-icon>
                <mat-icon>more_vert</mat-icon>
                <span>
                    <h1 class="hover-options-edit-message">
                        Nachricht bearbeiten
                    </h1>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="chat-input">
    <textarea #message class="chat-input-design" placeholder="Nachricht an #Entwicklerteam"></textarea>
    <div class="chat-input-lower-position">
        <div class="chat-input-options">
            <mat-icon>add</mat-icon>
            <div class="chat-input-line"></div>
            <mat-icon>sentiment_satisfied</mat-icon>
            <mat-icon>alternate_email</mat-icon>
        </div>
        <mat-icon class="chat-input-send" (click)="sendMessageToChannel()">send</mat-icon>
    </div>
</div>