<div class="chat">
    <div class="chat-content">

        <div class="user-message">
            <img class="user-message-avatar" src="../../../../assets/avatars/char_1.png">

            <div>
                <div class="user-message-time-name">
                    <span>14:04 Uhr</span>
                    <h3>Frederik Beck</h3>
                </div>
                <div class="speech-bubble-user">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Tempore nostrum minus exercitationem aliquam incidunt ducimus. Voluptate commodi nihil ipsum
                    molestias itaque quae quidem eligendi aperiam recusandae, optio vel earum sunt.
                </div>
                <div class="user-message-emojis">
                    <mat-icon>add_reaction</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chat-input">

</div>