@import './../../styles.scss';

.grid {
    display: grid;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    grid-template-columns: 0.7fr 2fr 1fr; //values for column-width/ 3 values = 3 columns
    grid-template-rows: 70px; //values for row-width/ 1 value = first row's value
    padding: 15px;
    gap: 15px;
    background-color: $Bg-color;
    grid-template-areas:
        "header1 header2 header3"
        "main1 main2 main3";
}

.grid-mobile {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr; //values for column-width/ 3 values = 3 columns
    grid-template-rows: 70px; //values for row-width/ 1 value = first row's value
    gap: 15px;
    background-color: $Bg-color;
    grid-template-areas:
        "header1 header3"
        "main1 main1";
}

.grid-no-workspace {
    display: grid;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    grid-template-columns: 0.7fr 2fr 1fr; //values for column-width/ 3 values = 3 columns
    grid-template-rows: 70px; //values for row-width/ 1 value = first row's value
    padding: 15px;
    gap: 15px;
    background-color: $Bg-color;
    grid-template-areas:
        "header1 header2 header3"
        "main2 main2 main3";
}

.grid-no-thread-chat {
    display: grid;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    grid-template-columns: 0.7fr 2fr 1fr; //values for column-width/ 3 values = 3 columns
    grid-template-rows: 70px; //values for row-width/ 1 value = first row's value
    padding: 15px;
    gap: 15px;
    background-color: $Bg-color;
    grid-template-areas:
        "header1 header2 header3"
        "main1 main2 main2";
}

.grid-only-main-chat {
    display: grid;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    grid-template-columns: 0.7fr 2fr 1fr; //values for column-width/ 3 values = 3 columns
    grid-template-rows: 70px; //values for row-width/ 1 value = first row's value
    padding: 15px;
    gap: 15px;
    background-color: $Bg-color;
    grid-template-areas:
        "header1 header2 header3"
        "main2 main2 main2";
}

.grid-only-thread-chat-mobile {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px;
    gap: 15px;
    padding: 0px;
    background-color: $Bg-color;
    grid-template-areas:
        "header4 header3"
        "main3 main3";
}

.grid-only-main-chat-mobile {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px;
    gap: 15px;
    padding: 0px;
    background-color: $Bg-color;
    grid-template-areas:
        "header4 header3"
        "main2 main2";
}

.grid-directmessage-chat-and-workspace {
    display: grid;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    grid-template-columns: 0.7fr 2fr 1fr; //values for column-width/ 3 values = 3 columns
    grid-template-rows: 70px; //values for row-width/ 1 value = first row's value
    padding: 15px;
    gap: 15px;
    background-color: $Bg-color;
    grid-template-areas:
        "header1 header2 header3"
        "main1 main4 main4";
}

.grid-only-directmessage-chat {
    display: grid;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    grid-template-columns: 0.7fr 2fr 1fr; //values for column-width/ 3 values = 3 columns
    grid-template-rows: 70px; //values for row-width/ 1 value = first row's value
    padding: 15px;
    gap: 15px;
    background-color: $Bg-color;
    grid-template-areas:
        "header1 header2 header3"
        "main4 main4 main4";
}

.grid-only-directmessage-chat-mobile {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px;
    gap: 15px;
    padding: 0px;
    background-color: $Bg-color;
    grid-template-areas:
        "header4 header3"
        "main4 main4";
}

.grid-new-message-and-workspace {
    display: grid;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    grid-template-columns: 0.7fr 2fr 1fr; //values for column-width/ 3 values = 3 columns
    grid-template-rows: 70px; //values for row-width/ 1 value = first row's value
    padding: 15px;
    gap: 15px;
    background-color: $Bg-color;
    grid-template-areas:
        "header1 header2 header3"
        "main1 main5 main5";
}

.grid-only-new-message-mobile {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px;
    gap: 15px;
    padding: 0px;
    background-color: $Bg-color;
    grid-template-areas:
        "header4 header3"
        "main5 main5";
}

.grid-only-new-message {
    display: grid;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    grid-template-columns: 0.7fr 2fr 1fr; //values for column-width/ 3 values = 3 columns
    grid-template-rows: 70px; //values for row-width/ 1 value = first row's value
    padding: 15px;
    gap: 15px;
    background-color: $Bg-color;
    grid-template-areas:
        "header1 header2 header3"
        "main5 main5 main5";
}

.header1 {
    grid-area: header1;
}

.header2 {
    grid-area: header2;
}

.header3 {
    grid-area: header3;
}

.header4 {
    grid-area: header4;
}

.main1 {
    grid-area: main1;
}

.main2 {
    grid-area: main2;
}

.main3 {
    grid-area: main3;
}

.main4 {
    grid-area: main4;
}

.main5 {
    grid-area: main5;
}

.btn-mobile-new-message {
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-color: $Purple-1;
    border-radius: 100px;
    box-shadow: 0px 6px 10px 0px #00000033;
    position: absolute;
    bottom: 60px;
    right: 26px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 22px;
        height: 22px;
    }
}

.close-workspace {
    width: 350px;
    height: 60px;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    bottom: 200px;
    left: -150px;
    background-color: white;
    rotate: -90deg;
    box-shadow: 0px 4px 7px 0px #00000033;
    border-radius: 0px 0px 30px 30px;
    gap: 10px;

    &:hover {
        color: $Purple-3;
        cursor: pointer;

        span {
            font-weight: 700;
        }
    }

    span {
        font-size: 20px;
        font-weight: 500;
    }
}

.d-none {
    display: none;
}

.spinner-container {
    @include posAbs($t: 0, $l: 0);
    background: rgba(255,255,255, 0.7);
    width: 100%;
    height: 100%;
    z-index: 2;
    mat-spinner {
        @include posAbs($t: 50%, $l: 50%);
        transform: translate(-50%, -50%);
    }
}