<div class="grid">
    <app-main-content-logo></app-main-content-logo>
    <app-main-content-searchbar></app-main-content-searchbar>
    <app-main-content-profile-selector></app-main-content-profile-selector>

    <app-main-content-side-bar [ngClass]="{'d-none': !workspace_open}"></app-main-content-side-bar>
    <app-main-content-main-chat></app-main-content-main-chat>
    <app-main-content-thread-chat></app-main-content-thread-chat>
</div>

<div class="close-workspace" (click)="toggleWorkspace()">
    <span>Workspace-Menü schließen</span>
    <mat-icon>expand_less</mat-icon>
</div>