$Bg-color: #ECEEFE;

.grid {
    display: grid;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    grid-template-columns: 0.6fr 2fr 1fr; //values for column-width/ 3 values = 3 columns
    grid-template-rows: 70px; //values for row-width/ 1 value = first row's value
    padding: 15px;
    gap: 15px;
    background-color: $Bg-color;
}

#main-content-logo {
    background-color: rgb(1, 92, 1);
}

#main-content-profile-selector {
    background-color: rgba(1, 92, 1, 0.644);
}

#main-content-sidebar {
    background-color: rgba(255, 0, 179, 0.87);
}

#main-content-thread-chat {
    background-color: rgba(0, 255, 255, 0.644);
}