body {
    height: unset !important;
}

html {
    height: unset !important;
}

.grid {
    display: grid;
    height: calc(100vh - 30px);
    width: calc(100vw - 60px);
    grid-template-columns: 20% 50% 30%; //values for column-width/ 3 values = 3 columns
    grid-template-rows: 70px; //values for row-width/ 1 value = first row's value
    grid-gap: 15px;
    margin: 15px;
}

#main-content-logo {
    background-color: rgb(1, 92, 1);
}

#main-content-searchbar {
    background-color: rgba(1, 92, 1, 0.89);
}

#main-content-profile-selector {
    background-color: rgba(1, 92, 1, 0.644);
}

#main-content-sidebar {
    background-color: rgba(255, 0, 179, 0.87);
}

#main-content-main-chat {
    background-color: cyan;
}

#main-content-thread-chat {
    background-color: rgba(0, 255, 255, 0.644);
}