@import './../../../styles.scss';

$Bg-color: #ECEEFE;

.selected-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}


.side-bar-profile-picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
}

.side-bar-profile {
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 30px;

    span {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.online {
    position: absolute;
    right: 0px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid $Bg-color;
    background-color: #92C83E;
}

.offline {
    position: absolute;
    right: 0px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid $Bg-color;
    background-color: #656565;
}

.button {
    justify-content: flex-end !important;
}

.button-disabled {
    cursor: not-allowed !important;
}

.added-user-list {
    max-height: 200px;
    overflow-y: auto;
}

.dialog-content {
    width: 100% !important;
    min-height: 35vh !important;
}

.caption {
    color: $Purple-3;
    font-size: 18px;
}