<div class="dialog-content">
    <header>
        <div class="dialog-head">
            <span>Leute hinzufügen</span>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="caption" *ngIf="needToAddMoreMembers">
            <span>#{{channel?.name}}</span>
        </div>
    </header>
    

    <div class="add-section" *ngIf="!needToAddMoreMembers">
        <mat-radio-group [(ngModel)]="selectedOption">
            <mat-radio-button color="primary" value="allMembers">Alle Mitglieder von OfficeTeam
                hinzufügen</mat-radio-button>
            <mat-radio-button color="primary" value="specificMembers">Bestimmte Leute hinzufügen</mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="name-input" *ngIf="selectedOption === 'specificMembers' || needToAddMoreMembers">
        <input [(ngModel)]="specificMemberInput" 
               matInput 
               placeholder="Name eingeben" 
               [matAutocomplete]="auto"
               (input)="onInput()" />
               <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let user of filteredUsers" [value]="user" (click)="selectUser(user)">
                  {{ user.name }}
                </mat-option>
              </mat-autocomplete>
      </div>


    <div class="added-user-list" *ngIf="selectedOption === 'specificMembers' || needToAddMoreMembers">
        <div class="selected-user" *ngFor="let user of selectedUsers">
            <div class="side-bar-profile">
                <div class="side-bar-profile-picture">
                    <img src="{{user.avatar}}">
                    <div class="online"></div>
                </div>
                <span>{{ user.name }}</span>
            </div>
            <button mat-icon-button (click)="removeUser(user)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>



    <div class="button">
        <button mat-raised-button color="primary" (click)="addChannelMembers()">Hinzufügen</button>
    </div>
</div>