<div class="dialog-content">
    <div class="dialog-head">
        <span>Leute hinzufügen</span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="add-section">
        <div>
            <mat-radio-button color="primary" value="before">Alle Mitglieder von OfficeTeam hinzufügen</mat-radio-button>
        </div>
        <div>
            <mat-radio-button color="primary" value="before">Bestimmte Leute hinzufügen</mat-radio-button>
            <span></span>
        </div>
    </div>
    <div class="button">
        <button mat-raised-button color="primary">Erstellen</button>
    </div>
</div>