<section>
    <div class="start-animation d-none">
        <img src="assets/img/Logo.svg" alt="">
        <p>DABubble</p>
    </div>
    <header class="header">
        <div>
            <img src="assets/img/logo-header.svg" alt="">
        </div>
    </header>
    <div class="login">
        <div class="container bg-white">
            <img (click)="this.commonService.routeTo('login', 0)" class="arrow-back cursor-pointer" src="assets/icons/arrow_back.svg" alt="">
            <h1>Impressum</h1>
            <h2>Angaben gemäß § 5 TMG:</h2>
            <p><br>Philipp Klinger</p>
            <h3>Postanschrift:</h3>
            <p> Groß-Umstädter Str. 5<br>64747 Breuberg<br></p>
            <h3>Kontakt:</h3>
            <p>Telefon: +491704952704<br>E-Mail: hello&#64;philipp-klinger.com</p>
            <p></p><p><br></p>
        </div>        
    </div>
    <footer>
        <a (click)="this.commonService.routeTo('imprint',0)" class="link cursor-pointer">Impressum</a>
        <a (click)="this.commonService.routeTo('privacy-policy',0)" class="link cursor-pointer">Datenschutz</a>
    </footer>
</section>