<section>
    <div class="start-animation d-none">
        <img src="assets/img/Logo.svg" alt="">
        <p>DABubble</p>
    </div>
    <header class="header">
        <div>
            <img src="assets/img/logo-header.svg" alt="">
        </div>
    </header>
    <div class="login">
        <div class="container bg-white">
            <img (click)="this.commonService.routeTo('login', 0)" class="arrow-back cursor-pointer" src="assets/icons/arrow_back.svg" alt="">
            <h1>Impressum</h1>
            <h2>Angaben gemäß § 5 TMG:</h2>
            <p><br>Martin Unger</p>
            <h3>Postanschrift:</h3>
            <p>Nestroygasse 3/19<br>1020 Wien<br></p>
            <h3>Kontakt:</h3>
            <p>Telefon: +43 664 401 8922<br>E-Mail: mail@martin-unger.at</p>
            <p></p><p><br></p>
            <p></p><h2>Hinweise zur Website</h2>
            <p></p><h2>Information gemäß § 36 VSBG</h2>
            <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
            <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
            <p></p>
            <p>
                <em>Das Impressum wurde mit dem <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind AG</a> erstellt.</em>
            </p>
        </div>        
    </div>
    <footer>
        <a (click)="this.commonService.routeTo('imprint',0)" class="link cursor-pointer">Impressum</a>
        <a (click)="this.commonService.routeTo('privacy-policy',0)" class="link cursor-pointer">Datenschutz</a>
    </footer>
</section>