<h1>dialog dummys</h1>

<div class="btn-dummys">
  <button (click)="openDialog('showProfile')" mat-raised-button color="primary">Show Profile</button>
  <button (click)="openDialog('menuProfile')" mat-raised-button color="primary">Menu Profile</button>
  <button (click)="openDialog('editProfile')" mat-raised-button color="primary">Edit Profile</button>
  <button (click)="openDialog('createChannel')" mat-raised-button color="primary">Create Channel</button>
  <button (click)="openDialog('addChannelmembers')" mat-raised-button color="primary">add Members</button>
</div>

<div class="channels">
  <h2>alle channels</h2>
  <ul>
    <li *ngFor="let channel of channels">
      <p>Name: {{ channel.name }}</p>
      <p>Description: {{ channel.description }}</p>
      <p>Creation Date: {{channel.timestamp}} </p>
      <p>Creator: {{ channel.creator }}</p>
      <p>Members:
        <!-- last nur für kommas anzeigen -->
        <span *ngFor="let member of channel.members; let lastMember = last"> 
          {{ member.name }}{{ !lastMember ? ', ' : '' }}  
        </span>
      </p>
      <p>Channel ID: {{ channel.id }}</p>
      <button mat-raised-button color="primary" (click)="deleteChannel(channel)">delete channel</button>
      <button mat-raised-button color="primary" (click)="editChannel(channel)">edit channel</button>
    </li>
  </ul>
</div>

<div class="users">
  <h2>alle user</h2>
  <ul>
    <li *ngFor="let user of user">
      <p>Avatar:<img height="80px" style="border-radius: 100%;" src="{{user.avatar}}"></p>
      <p>Name: {{ user.name }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Channel ID: {{ user.id }}</p>
      <button mat-raised-button color="primary" (click)="deleteUser(user)">delete user</button>
    </li>
  </ul>
</div>