<h1>dialog dummys</h1>

<div class="btn-dummys">
  <button (click)="openDialog('showProfile')" mat-raised-button color="primary">Show Profile</button>
  <button (click)="openDialog('menuProfile')" mat-raised-button color="primary">Menu Profile</button>
  <button (click)="openDialog('editProfile')" mat-raised-button color="primary">Edit Profile</button>
  <button (click)="openDialog('createChannel')" mat-raised-button color="primary">Create Channel</button>
</div>


<h2>alle channels</h2>
<ul>
  <li *ngFor="let channel of channels">
    <p>Name: {{ channel.name }}</p>
    <p>Description: {{ channel.description }}</p>
    <p>Creation Date: {{channel.timestamp}} </p>
    <p>Creator: {{ channel.creator }}</p>
    <p>Channel ID: {{ channel.id }}</p>
    <button mat-raised-button color="primary" (click)="deleteChannel(channel)">delete channel</button>
    <button mat-raised-button color="primary" (click)="editChannel(channel)">edit channel</button>
  </li>
</ul>