<div class="chat">
    <div class="chat-content">
        <div class="thread-anon-user-message">
            <img class="user-message-avatar" src="../../../../assets/avatars/avatar_1.svg">
            <div>
                <div class="anon-user-message-time-name">
                    <span>{{ thread_subject.timestamp }}</span>
                    <h3>{{ thread_subject.creator }}</h3>
                </div>
                <div class="anon-speech-bubble-user">
                    {{ thread_subject.message }}
                </div>
                <div class="anon-user-message-emojis">
                    <div class="user-message-emojis-showcase">
                        <div>🎈</div>
                        <span>1</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="answer-timestamp">
            <span>2 Antworten</span>
            <div></div>
        </div>

        <!-- <div class="thread-anon-user-message">
            <img class="user-message-avatar" src="../../../../assets/avatars/avatar_1.svg">
            <div>
                <div class="anon-user-message-time-name">
                    <span>14:04 Uhr</span>
                    <h3>Sofia Müller</h3>
                </div>
                <div class="anon-speech-bubble-user">
                    nerv nich!
                </div>
                <div class="anon-user-message-emojis">

                    <div class="user-message-emojis-showcase">
                        <div>👍</div>
                        <span>1</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread-user-message">
            <img class="user-message-avatar" src="../../../../assets/avatars/avatar_1.svg">
            <div class="flex-end">
                <div class="user-message-time-name">
                    <span>14:04 Uhr</span>
                    <h3>Frederik Beck</h3>
                </div>
                <div class="speech-bubble-user">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Tempore nostrum minus exercitationem aliquam incidunt ducimus. Voluptate commodi nihil ipsum
                    molestias itaque quae quidem eligendi aperiam recusandae, optio vel earum sunt.
                </div>
                <div class="user-message-emojis">
                    <div class="user-message-emojis-showcase">
                        <div>🎈</div>
                        <span>1</span>
                    </div>
                    <div class="user-message-emojis-showcase">
                        <div>👽</div>
                        <span>1</span>
                    </div>
                    <mat-icon>add_reaction</mat-icon>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="chat-input">
    <textarea #answer class="chat-input-design" name="" id="" cols="" rows=""
        placeholder="Nachricht an #Entwicklerteam"></textarea>
    <div class="chat-input-lower-position">
        <div class="chat-input-options">
            <mat-icon>add</mat-icon>
            <div class="chat-input-line"></div>
            <mat-icon>sentiment_satisfied</mat-icon>
            <mat-icon>alternate_email</mat-icon>
        </div>
        <mat-icon class="chat-input-send" (click)="sendAnswerToThread()">send</mat-icon>
    </div>
</div>