<div class="chat">
    <div class="emoji-window-messages-overlay" *ngIf="emoji_window_messages_open">
        <div id="emoji-window-messages" class="emoji-window-messages">
            <emoji-mart emoji="santa" set="apple" size="16" (emojiClick)="addReaction($event)"></emoji-mart>
        </div>
    </div>

    <div #chat_content class="chat-content">
        <div class="thread-anon-user-message" *ngIf="thread_subject?.creatorId !== this.user.id">
            <img class="user-message-avatar" src="{{ thread_subject?.avatar }}">
            <div>
                <div class="anon-user-message-time-name">
                    <span>{{ thread_subject_time }}</span>
                    <h3>{{ thread_subject?.creator }}</h3>
                </div>
    
                <div *ngIf="thread_subject?.message" class="anon-speech-bubble-user">
                    <div *ngFor="let part of formatMessageParts(thread_subject)"> 
                        <div *ngIf="isPartTag(part)" (click)="openProfile(part.id)">
                            <span class="space">_</span>
                                <a class="tagUser">{{ part.text }}</a>                   
                            <span class="space">_</span>
                        </div>                           
                        <span *ngIf="!isPartTag(part)" #plainText>{{ part }}</span>
                    </div>
                </div>
                
                <div *ngIf="thread_subject?.img">
                    <button mat-raised-button (click)="this.commonService.downloadImage(thread_subject?.img)">
                        <mat-icon>file_download</mat-icon> Download
                    </button>
                </div>
                <div class="anon-user-message-emojis">
                    <div class="user-message-emojis-showcase" *ngFor="let reactions of thread_subject?.reactions">
                        <div>{{ reactions.reaction }}</div>
                        <span>{{ reactions.amount }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread-user-message" *ngIf="thread_subject?.creatorId == this.user.id">
            <img class="user-message-avatar" src="{{ thread_subject?.avatar }}">
            <div class="flex-end">
                <div class="user-message-time-name">
                    <span>{{ thread_subject_time }}</span>
                    <h3>{{ thread_subject?.creator }}</h3>
                </div>

                <div *ngIf="thread_subject?.message" class="speech-bubble-user">
                    <div *ngFor="let part of formatMessageParts(thread_subject)"> 
                        <div *ngIf="isPartTag(part)" (click)="openProfile(part.id)">
                            <span class="space">_</span>
                                <a class="tagUser">{{ part.text }}</a>                   
                            <span class="space">_</span>
                        </div>                           
                        <span *ngIf="!isPartTag(part)" #plainText>{{ part }}</span>
                    </div>
                </div>

                <div *ngIf="thread_subject?.img">
                    <button mat-raised-button (click)="this.commonService.downloadImage(thread_subject?.img)">
                        <mat-icon>file_download</mat-icon> Download
                    </button>
                </div>
                <div class="user-message-emojis">
                    <div class="user-message-emojis-showcase" *ngFor="let reactions of thread_subject?.reactions">
                        <div>{{ reactions.reaction }}</div>
                        <span>{{ reactions.amount }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="answer-timestamp">
            <span>{{ thread_subject?.answered_number }} Antworten</span>
            <div></div>
        </div>

        <div *ngIf="threadAnswers.length > 0">
            <div *ngFor="let answer of threadAnswers; let i = index">
                <div class="thread-user-message" *ngIf="answer.creatorId == this.user.id">
                    <img class="user-message-avatar" src="{{ answer.avatar }}">
                    <div class="flex-end">
                        <div class="user-message-time-name">
                            <span>{{ getFormattedTime(answer) }}</span>
                            <h3>{{ answer.creator }}</h3>
                        </div>
                        
                        <div *ngIf="((selectedAnswerThreadChat?.id !== answer.id || !editingMessage) && answer.message)" class="speech-bubble-user">
                            <div *ngFor="let part of formatMessageParts(answer)"> 
                                <div *ngIf="isPartTag(part)" (click)="openProfile(part.id)">
                                    <span class="space">_</span>
                                        <a class="tagUser">{{ part.text }}</a>                   
                                    <span class="space">_</span>
                                </div>                           
                                <span *ngIf="!isPartTag(part)" #plainText>{{ part }}</span>
                            </div>
                        </div>

                        <div *ngIf="answer.img">
                            <button mat-raised-button (click)="this.commonService.downloadImage(answer.img)">
                                <mat-icon>file_download</mat-icon> Download
                            </button>
                        </div>


                        <div *ngIf="(selectedAnswerThreadChat?.id == answer.id && editingMessage)"
                            class="speech-bubble-user-edit">
                            <textarea #textArea (input)="changedTextMessage($event)" [attr.cols]="textareaCols" [attr.rows]="2"
                                value="{{ textAreaContent }}"></textarea>
                            <div>
                                <button (click)="toggleEditing()" class="btn-cancel">Abbrechen</button>
                                <button (click)="saveEditedMessage()" [disabled]="!textArea.value.trim()" class="btn-save">Speichern</button>
                            </div>
                        </div>
                        
                        <div class="user-message-emojis">
                            <div (mouseenter)="openReactionInfo(i, j)" (mouseleave)="closeReactionInfo()" class="user-message-emojis-showcase" *ngFor="let reactions of answer.reactions; let j = index">
                                <div>{{ reactions.reaction }}</div>
                                <span>{{ reactions.amount }}</span>

                                <div [ngClass]="{'short-reactioninfo': reactionInfoNumber == answer.reactions.length-1,'reactioninfo': reactionInfoNumber !== answer.reactions.length-1 }" *ngIf="reactionInfo && reactionInfoNumber == j && reactionInfoMessage == i">
                                    <div>{{ reactions.reaction }}</div>
                                    <h4>{{ reactions.creator }}</h4>
                                    <span>hat reagiert</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user-message-hover-options">
                        <mat-icon (click)="toggleEmojiWindowForMessage(i)"
                            class="material-icons-outlined">add_reaction</mat-icon>
                        <mat-icon *ngIf="!answer.img" (click)="toggleHoverOptionEditMessage()">more_vert</mat-icon>
                        <span *ngIf="hoverOptionEditMessage_open && !answer.img">
                            <h1 class="hover-options-edit-message" (click)="editAnswer(answer.message, i)">
                                Nachricht bearbeiten
                            </h1>
                        </span>
                    </div>
                </div>

                <div class="thread-anon-user-message" *ngIf="answer.creatorId !== this.user.id">
                    <img class="user-message-avatar" src="{{ answer.avatar }}">
                    <div>
                        <div class="anon-user-message-time-name">
                            <span>{{ getFormattedTime(answer) }}</span>
                            <h3>{{ answer.creator }}</h3>
                        </div>
                        <div *ngIf="((selectedAnswerThreadChat?.id !== answer.id || !editingMessage) && answer.message)" class="anon-speech-bubble-user">
                            <div *ngFor="let part of formatMessageParts(answer)"> 
                                <div *ngIf="isPartTag(part)" (click)="openProfile(part.id)">
                                    <span class="space">_</span>
                                        <a class="tagUser anon">{{ part.text }}</a>                   
                                    <span class="space">_</span>
                                </div>                           
                                <span *ngIf="!isPartTag(part)" #plainText>{{ part }}</span>
                            </div>
                        </div>

                        <div *ngIf="answer.img">
                            <button mat-raised-button (click)="this.commonService.downloadImage(answer.img)">
                                <mat-icon>file_download</mat-icon> Download
                            </button>
                        </div>
                        <div class="anon-user-message-emojis">
                            <div (mouseenter)="openReactionInfo(i,j)" (mouseleave)="closeReactionInfo()"  class="user-message-emojis-showcase" *ngFor="let reactions of answer.reactions; let j = index">
                                <div>{{ reactions.reaction }}</div>
                                <span>{{ reactions.amount }}</span>

                                <div  [ngClass]="{'reactioninfo': reactionInfoNumber == 0,'opposite-reactioninfo': reactionInfoNumber !== 0 }" *ngIf="reactionInfo && reactionInfoNumber == j && reactionInfoMessage == i">
                                    <div>{{ reactions.reaction }}</div>
                                    <h4>{{ reactions.creator }}</h4>
                                    <span>hat reagiert</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="anon-message-hover-options">
                        <mat-icon (click)="toggleEmojiWindowForMessage(i)"
                            class="material-icons-outlined">add_reaction</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chat-input-container">
    <div *ngIf="showUserList" class="added-user-list">
        <div class="selected-user" *ngFor="let user of filteredUsers" (click)="insertUserName(user.name, user.id)">
            <div class="side-bar-profile">
                <div class="side-bar-profile-picture">
                    <img src="{{user.avatar}}">
                    <div [ngClass]="{ 'online': user.onlineStatus, 'offline': !user.onlineStatus }"></div>
                </div>
                <span>{{ user.name }}</span>
            </div>
        </div>
    </div>
    <div class="chat-input">
        <textarea *ngIf="!uploadedFileLinkThread && !errorUploadFileThread" (keyup.enter)="sendAnswerToThread()" (input)="onTextareaInput($event)" #answer
            class="chat-input-design" name="" id="" cols="" rows="" placeholder="Antworten..."></textarea>
        <div *ngIf="uploadedFileLinkThread" class="submit-buttons d-flex-standard">
            <button class="btn-submit" mat-button>
                <a href="{{uploadedFileLinkThread}}" target="_blank">Datei ansehen</a>
            </button>
            <button class="btn-guest" mat-button (click)="removeUploadedFileThread()">Entfernen</button>
        </div>
        <div *ngIf="errorUploadFileThread">
            <p class="error-txt">Bitte wählen Sie eine Datei unter 5 MB und im jpg/jpeg/pdf/png-Format.</p>
        </div>
        <div class="chat-input-lower-position">
            <div class="chat-input-options">
                <div>
                    <!-- Test for File upload -->
                    <input #fileInputThread id="fileInput-thread-chat" (change)="handleFileInputThread($event)"
                        class="d-none" type="file" accept=".jpg,.jpeg,.png,.pdf" />
                    <mat-icon (click)="this.commonService.triggerFileInput('fileInput-thread-chat')">add</mat-icon>
                </div>
                <div class="chat-input-line"></div>

                <div class="emoji-window" [ngClass]="{'d-none': !emoji_window_open}">
                    <emoji-mart emoji="santa" set="apple" size="16" (emojiClick)="addEmoji($event)"></emoji-mart>
                </div>

                <mat-icon (click)="toggleEmojiWindow()">sentiment_satisfied</mat-icon>
                <mat-icon (click)="addAtSymbolToTextarea()">alternate_email</mat-icon>
            </div>
            <mat-icon class="chat-input-send" (click)="sendAnswerToThread()">send</mat-icon>
        </div>
    </div>
</div>