<section>
    <nav>
        <div class="channel-name">
            Neue Nachricht
        </div>

        <input [(ngModel)]="searchQuery" (input)="onSearchChange($event)" type="text"
            placeholder="An: #channel, oder @jemand oder E-Mail Adresse" class="input-new-message"
            [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete" [class]="'searchbar-custom-panel'">
            <mat-option *ngFor="let channel of foundChannels" [value]="channel.name" (click)="openChannel(channel)">
                # {{ channel.name }}
            </mat-option>
            <mat-divider *ngIf="foundUsers.length > 0 && foundChannels.length > 0"></mat-divider>
            <mat-option *ngFor="let emailUser of foundUsers" [value]="emailUser.email" (click)="openDM(emailUser)">
                <img [src]="emailUser.avatar" class="user-avatar">
                {{ emailUser.name }}
            </mat-option>
            <mat-option *ngFor="let emailUser of foundEmails" [value]="emailUser.email" (click)="openDM(emailUser)">
                <img [src]="emailUser.avatar" class="user-avatar">
                {{ emailUser.name }} ({{ emailUser.email }})
            </mat-option>
        </mat-autocomplete>
    </nav>

    <div class="lower-part-container">
        <div class="chat-input">
            <textarea #message class="chat-input-design" placeholder="Starte eine neue Nachricht"></textarea>
            <!-- Test for File upload -->
            <!-- <div *ngIf="uploadedFileLink">
                <a href="{{uploadedFileLink}}" target="_blank">Datei ansehen</a>
                <button (click)="removeUploadedFile()">Entfernen</button>
            </div> -->
            <div class="chat-input-lower-position">
                <div class="chat-input-options">
                    <div>
                        <!-- Test for File upload -->
                        <!-- <input id="fileInput-main-chat" (change)="handleFileInput($event)" class="d-none" type="file"  accept=".jpg,.jpeg,.png" />  -->
                        <mat-icon>add</mat-icon>
                    </div>

                    <div class="chat-input-line"></div>

                    <div class="emoji-window" [ngClass]="{'d-none': !emoji_window_open}">
                        <emoji-mart emoji="santa" set="apple" size="16" (emojiClick)="addEmoji($event)"></emoji-mart>
                    </div>

                    <mat-icon (click)="toggleEmojiWindow()">sentiment_satisfied</mat-icon>
                    <mat-icon>alternate_email</mat-icon>
                </div>
                <mat-icon class="chat-input-send">send</mat-icon>
            </div>
        </div>
    </div>

</section>