<div class="dialog-content">
    <div class="dialog-head">
        <span>Profil</span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button>
    </div>
    <div class="avatar">        
        <img src="{{currentUser.avatar}}">
    </div>
    <div class="username">
        <div class="username-head">
            <span>{{currentUser.name}}</span>
            <p (click)="openEditProfile()">Bearbeiten</p>
        </div>
        <div class="status">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <circle cx="8" cy="8.5" r="8" fill="#92C83E" />
            </svg>
            <span>Aktiv</span>
        </div>
    </div>
    <div class="user-email">
        <img src="../../../assets/icons/mail.svg">
        <!-- <img src="./assets/icons/mail.svg"> -->
        <div class="email">
            <span>E-Mail-Adresse</span>
            <p>{{currentUser.email}}</p>
        </div>
    </div>
</div>
