.username-head {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
        color: #535AF1;
        margin: 0;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}