/* You can add global styles to this file, and also import other style files */
$Bg-color: #ECEEFE;
$Light-purple: #ADB0D9;
$Text-gray: #686868;
$Purple-1: #444DF2;
$Purple-2: #797EF3;
$Purple-3: #535AF1;
$online-green: #92C83E;
$Rosa-error: #ED1E79;