// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$DABubble-primary: mat.define-palette(mat.$indigo-palette);
$DABubble-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$DABubble-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$DABubble-theme: mat.define-light-theme((color: (primary: $DABubble-primary,
        accent: $DABubble-accent,
        warn: $DABubble-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($DABubble-theme);

/* You can add global styles to this file, and also import other style files */

@import 'src/assets/fonts/fonts.css';

$Bg-color: #ECEEFE;
$Light-purple: #ADB0D9;
$Text-gray: #686868;
$Purple-1: #444DF2;
$Purple-2: #797EF3;
$Purple-3: #535AF1;
$online-green: #92C83E;
$Rosa-error: #ED1E79;
$Background-Login: #545BEC;
$White: #FFFFFF;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', "Helvetica Neue", sans-serif !important;
  overflow-x: hidden;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px !important;
}

.dialog-edit-channel-no-radius {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-top-left-radius: 0 !important;
  }
}

.dialog-show-channelmembers-no-radius {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-top-right-radius: 0 !important;
  }
}

.dialog-create-channel-repsonsive {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    width: min(872px, 100%) !important;  
  }
}

@media (max-width: 500px ) {
  .cdk-overlay-pane {
    max-width: 100% !important;
  }
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0 !important;
  }

  .cdk-global-overlay-wrapper {
    justify-content: unset !important;
    align-items: unset !important;
  }

  .mat-mdc-radio-group {
    gap: 10px;
    display: flex !important;
    flex-direction: column !important;
  }
}


h1,
h2,
h3,
input,
textarea {
  font-family: 'Nunito', sans-serif !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $Bg-color;
}

::-webkit-scrollbar-thumb {
  background: $Purple-1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $Purple-2;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.d-none {
  display: none !important;
}


@mixin dFlex($jc: center, $ai: center, $g: 0px, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-direction: $fd;
}

@mixin fonts($fw: 700, $fs: 16px, $lh: normal, $ta: center) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  text-align: $ta;
}

@mixin posAbs($pos: absolute, $t: 0, $b: 0, $r: 0, $l: 0) {
  position: $pos;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin posAbs($pos: absolute, $t: null, $b: null, $r: null, $l: null) {
  position: $pos;

  @if $t !=null {
    top: $t;
  }

  ;

  @if $r !=null {
    right: $r;
  }

  ;

  @if $b !=null {
    bottom: $b;
  }

  ;

  @if $l !=null {
    left: $l;
  }

  ;
}

mark {
  background-color: #ECEEFE !important;
  font-weight: bold;
}

.searchbar-custom-panel {

  .mat-mdc-option .mdc-list-item__primary-text {
    flex-direction: row !important;
    display: flex !important;
    align-items: center !important;
  }

  .mat-mdc-option.mdc-list-item {
    margin-bottom: 5px;
  }


}



  
