<div class="dialog-content">
    <div class="dialog-head">
        <span>Profil</span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="avatar">
        <img src="{{currentUser.avatar}}">
    </div>
    <div class="name-input">
        <div class="name">
            <img src="../../../assets/icons/account_circle.svg">
            <span>Vollständiger Name</span>
        </div>
        <input [(ngModel)]="newUserName" matInput placeholder="{{currentUser.name}}">
    </div>
    <div class="name-input">
        <div class="name">
            <img src="../../../assets/icons/mail.svg">
            <span>E-Mail-Adresse</span>
        </div>
        <input [(ngModel)]="newUserEmail" matInput placeholder="{{currentUser.email}}">
    </div>
    <div class="buttons">
        <button mat-raised-button mat-dialog-close>Abbrechen</button>
        <button (click)="saveChanges()" mat-raised-button color="primary">Speichern</button>
    </div>
</div>