.buttons {
    display: flex;
    justify-content: space-evenly;

    button {
        border-radius: 50px;
    }
}

input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 40px;
    border: 1px solid #ADB0D9;
    outline: none;
    padding: 15px 20px;

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%
}

input:focus {
    border-color: #535AF1;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        margin-left: 15px;
    }
}

.progress-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;

    span {
        font-size: 20px;
        font-weight: 700;
    }
}

.name-input {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

input[disabled] {
    opacity: 1;
    cursor: not-allowed;
}

.avatar {
    gap: 10px;
}

.avatar-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-content: center;
    justify-content: center;
    padding: 20px;

    img {
        width: 100px;
        border-radius: 100%;
        object-fit: cover;
        opacity: 0.8;
        transition: all ease-in-out 100ms;

        &:hover {
            cursor: pointer;
            opacity: 1;
            transform: scale(1.05);
        }

        @media (max-width: 530px) {
            width: 75px;
        }
    }
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.select-avatar-content {
    gap: 15px !important;
}

.button-disabled {
    cursor: not-allowed;
}

@media (max-width: 650px) {
    .avatar-list {
        max-width: 75%;
    }
}
