<div class="dialog-content" [ngClass]="{'select-avatar-content': isGuestUser}">
    <div class="dialog-head">
        <span>Profil</span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="avatar buttons">
        <img src="{{selectedAvatar}}">
        <button mat-raised-button *ngIf="!openAvatarSelection" (click)="toggleAvatarSelection()">Avatar ändern</button>
    </div>

    <div *ngIf="openAvatarSelection" class="avatar-selection">
        <div [ngClass]="{'button-disabled': isGuestUser}" class="file-upload buttons">
            <button [disabled]="isGuestUser"  matTooltip="Dateigröße darf 1.5mb nicht überschreiten!" matTooltipPosition="above" mat-raised-button color="primary" (click)="fileInput.click()">Custom Avatar</button>
            <input [disabled]="isGuestUser" #fileInput type="file" (change)="onFileSelected($event)" 
                   accept="image/jpeg, image/jpg, image/png" 
                   hidden>
          </div>
          <div  class="avatar-list">
            <img *ngFor="let avatar of avatarPaths" (click)="changeAvatar(avatar)" [src]="avatar">
        </div>
          <span class="error" *ngIf="errorUploadFile">Bitte wählen Sie eine gültige Datei!</span>
      </div>
      
    <div *ngIf="!openAvatarSelection" class="name-input">
        <div class="name">
            <!-- <img src="./assets/icons/account_circle.svg"> -->
            <img src="../../../assets/icons/account_circle.svg">
            <span>Vollständiger Name</span>
        </div>
        <input [disabled]="isGuestUser" [(ngModel)]="newUserName" matInput placeholder="Bitte einen Namen eingeben!">
    </div>
    <div *ngIf="!openAvatarSelection" class="name-input">
        <div class="name">
            <!-- <img src="./assets/icons/mail.svg"> -->
            <img src="../../../assets/icons/mail.svg">
            <span>E-Mail-Adresse</span>
        </div>
        <input matTooltip="Email Änderung bitte bei Admin anfragen!" matTooltipPosition="above"  disabled matInput placeholder="{{currentUser.email}}">
    </div>
    <div class="buttons">
        <button *ngIf="!openAvatarSelection" mat-raised-button mat-dialog-close>Abbrechen</button>
        <button *ngIf="!openAvatarSelection" [disabled]="newUserName === currentUser.name && selectedAvatar === currentUser.avatar || newUserName == ''" (click)="saveChanges()" mat-raised-button color="primary">Speichern</button>
        <button (click)="toggleAvatarSelection()" *ngIf="openAvatarSelection" mat-raised-button> Zurück </button>
    </div>
</div>