<div class="dialog-content">
    <div class="dialog-head">
        <span>dein Workspace wird vorbereiet!</span>
    </div>
    <div class="avatar">
        
    </div>
    <div class="username">
       
        <div class="status">
           
        </div>
    </div>
    <div class="user-email">
        <img src="../../../assets/icons/mail.svg">
        <div class="email">
            <span>E-Mail-Adresse</span>
         
        </div>
    </div>
    <div class="button">
      
    </div>
</div>